{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content2.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-pic">
        <img class="full-width-img" src="{% static 'image/blue-track.jpeg' %}" alt="Image 2">
        <img src="{% static 'image/highjump.png' %}" alt="" class="about2 on">
        <img src="{% static 'image/highjump.png' %}" alt="" class="about2 of">

    </div>
    <div class="about-h-texts">
        <img src="{% static 'image/about3.png' %}" alt="">
        <h6>About</h6>
        <h2>spai<br>
            Internship</h2>
    </div>
</div>
<div class="about-container">
    <div class="about">
        <h1 style="text-transform:uppercase;">About Sports Psychology Association of India Internship</h1>
        <div class="about-content" style="line-height: 30px;font-weight: 200;">
            <p style="font-size: 18px;">The Sports Psychology Association of India (SPAI) internship program offers
                aspiring sports psychologists an opportunity to gain hands-on experience in the field of sports
                psychology. Interns typically work alongside experienced professionals, assisting in mental skills
                training, research, athlete counselling, and psychological assessments for performance enhancement. The
                internship aims to bridge academic knowledge with practical application, in allowing students to develop
                skills in understanding athlete behavior, improving mental toughness, and promoting overall
                psychological well-being in sports contexts.
            </p>
            <p style="text-indent: 0%;font-size: 18px;">
                <b>PURPOSE</b> <br>
                The purpose of the sports psychology internship is to provide students and aspiring professionals with
                practical, hands-on experience in applying psychological principles to the sports environment.
            </p>
            <div class="skill-wrapper">

                <div class="skill">
                    <div class="skill-icon">
                        <img src="{% static 'image/jump-bask.png' %}" alt="">
                    </div>
                    <div class="skill-content">
                        <div class="ball-icon">
                            <img src="{% static 'image/soft_ball.png' %}" alt="">
                        </div>
                        <h4>Skill Development</h4>
                        <h6>Interns to apply mental training techniques, such as goal-setting, orientation and skills
                            which are applied in sports psychology to improve athlete performance and well-being.</h6>
                    </div>

                </div>
                <div class="skill" style="background: #a382ff;">
                    <div class="skill-icon">
                        <img src="{% static 'image/cricket.png' %}" alt="">
                    </div>
                    <div class="skill-content">
                        <div class="ball-icon">
                            <img src="{% static 'image/soft_ball.png' %}" alt="">
                        </div>
                        <h4>Professional Exposure</h4>
                        <h6>The Internship exposes students to real-world scenarios where they interact with athletes,
                            coaches, and teams, giving them insight into the day-to-day challenges faced by sports
                            psychologist.</h6>
                    </div>

                </div>
                <div class="skill" style="background: #d672d6">
                    <div class="skill-icon">
                        <img src="{% static 'image/hokki.png' %}" alt="">
                    </div>
                    <div class="skill-content">
                        <div class="ball-icon">
                            <img src="{% static 'image/soft_ball.png' %}" alt="">
                        </div>
                        <h4>Research and application</h4>
                        <h6>Interns often assist in research projects, data analysis, and assessment, allowing them to
                            contribute to advancements in sports psychology and apply theoretical knowledge to practice.
                        </h6>
                    </div>

                </div>
                <div class="skill" style="background: #74c4df">
                    <div class="skill-icon">
                        <img src="{% static 'image/allinone.png' %}" alt="">
                    </div>
                    <div class="skill-content">
                        <div class="ball-icon">
                            <img src="{% static 'image/soft_ball.png' %}" alt="">
                        </div>
                        <h4>Networking and mentorship</h4>
                        <h6>Internships off the opportunity to build relationships with experienced professionals,
                            expanding the intern’s network and providing mentorship for future career development.</h6>
                    </div>

                </div>
                <div class="skill" style="background: #fc93a2">
                    <div class="skill-icon">
                        <img src="{% static 'image/allinone2.png' %}" alt="">
                    </div>
                    <div class="skill-content">
                        <div class="ball-icon">
                            <img src="{% static 'image/soft_ball.png' %}" alt="">
                        </div>
                        <h4>Career readiness</h4>
                        <h6>The hands-on experience prepares interns for careers in sports psychology by enhancing their understanding of psychological strategies, ethical considerations, and professional standards in the field. </h6>
                    </div>

                </div>
            </div>
            <p>Overall, the internship aims to bridge the gap between academic learning and professional practice in sports psychology.</p>
            <div class="join">
                <a style="text-decoration: none; color: inherit;" href="{% url 'internship_page' %}">
                    <div class="news-seemore" style="height: 50px;">
                        <div class="seemoretext" style="font-size: 15px;">JOIN SPAI INTERNSHIP</div>
                    </div>
                </a>
                <a style="text-decoration: none; color: inherit;" href="{% url 'login_page' %}">
                    <div class="news-seemore" style="height: 50px;">
                        <div class="seemoretext" style="font-size: 15px;">JOIN SPAI </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}