{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
<link rel="stylesheet" href="{% static 'css/home/executive.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="about-container mission">
    <div class="mission-top-row">
        <h1 style="text-transform: uppercase;">spai Mentors</h1>

    </div>
    <p> As part of SPAI certification programme the following experts of SPAI will serve as mentors for internship and
        mentoring programme for upcoming sports psychology professionals</p>
    <div class="mentor-wrapper">
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/Kamlesh.png' %}" alt="">
            </div>
            <div class="exe-text">
                PROF(DR.) M.L.KAMLESH
                <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
            </div>
            <div class="exe-posi">
                Patron
            </div>
        </div>
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/committee/8.png' %}" alt="">
            </div>
            <div class="exe-text">
                DR. JOLLY ROY
                <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
            </div>
            <div class="exe-posi">

            </div>
        </div>
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/committee/9.png' %}" alt="">
            </div>
            <div class="exe-text">
                LALIT SHARMA
                <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
            </div>
            <div class="exe-posi">

            </div>
        </div>
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/profile-icon.svg' %}" alt="">
            </div>
            <div class="exe-text">
                Col Arvind Jha
                <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
            </div>
            <div class="exe-posi">

            </div>
        </div>
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/committee/7.png' %}" alt="">
            </div>
            <div class="exe-text">
                SR. PROF DILIP KUMAR DUREHA
                <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
            </div>
            <div class="exe-posi">

            </div>
        </div>
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/committee/5.png' %}" alt="">
            </div>
            <div class="exe-text">
                DR. ANURADHA. S. SOLANKY
                <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
            </div>
            <div class="exe-posi">

            </div>
        </div>
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/committee/10.png' %}" alt="">
            </div>
            <div class="exe-text">
                DR. STALIN RAPHEL
                <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
            </div>
            <div class="exe-posi">

            </div>
        </div>
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/profile-icon.svg' %}" alt="">
            </div>
            <div class="exe-text">
                Dr Soni John
                <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
            </div>
            <div class="exe-posi">

            </div>
        </div>
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/committee/12.png' %}" alt="">
            </div>
            <div class="exe-text">
                DR. AMANENDRA MANN
                <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
            </div>
            <div class="exe-posi">

            </div>
        </div>
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/profile-icon.svg' %}" alt="">
            </div>
            <div class="exe-text">
                Dr Samiron Chakraborty
                <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
            </div>
            <div class="exe-posi">

            </div>
        </div>
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/PRESIDENT.png' %}" alt="">
            </div>
            <div class="exe-text" style="text-align: left;">
                DR. ANIL KARWANDE
                
            </div>
            <div class="exe-posi">
                
            </div>
        </div>
        <div class="executie-container">
            <div class="exe-img">
                <img src="{% static 'image/secretary.jpg' %}" alt="">
            </div>
            <div class="exe-text">
                PROF ANIL RAMACHANDRAN
                <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
            </div>
            <div class="exe-posi">
                
            </div>
        </div>
    </div>
        <!-- <ol style="font-size: 16px;font-weight: 600;">
            <li>Dr M L Kamlesh</li>
            <li>Dr Jolly Roy</li>
            <li>Dr Lalit Sharma</li>
            <li>Col Arvind Jha</li>
            <li>Dr Dillep K Dureha</li>
            <li>Dr Anradha Solanki</li>
            <li>Dr Stalin Raphel</li>
            <li>Dr Soni John</li>
            <li>Dr Amanendra Mann</li>
            <li>Dr Samiron Chakraborty</li>
            <li>Dr Anil Karwande</li>
            <li>Prof Anil Ramachandran</li>
        
        </ol> -->

</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}