{% load static %}
<div class="head">
  <div class="logo">
    <!-- <img src="{% static 'images/logo.jpg' %}" alt="Footer Logo"> -->
      <p>SPAI</p>
  </div>
  <div class="nav">
    {% block menu %}
      <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link {% if page == 'main' %}active{% endif %}" href="{% url 'index' %}">Home</a></li>
            <li><a class="nav-link {% if page == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a></li>
            <li><a class="nav-link {% if page == 'members' %}active{% endif %}" href="{% url 'members' %}">Members</a></li>
            <li><a class="nav-link {% if page == 'publications' %}active{% endif %}" href="{% url 'publications' %}">Publications</a></li>
            <li><a class="nav-link {% if page == 'news' %}active{% endif %}" href="{% url 'news' %}">News and Events</a></li>
            <li><a class="nav-link {% if page == 'accademics' %}active{% endif %}" href="{% url 'accademics' %}">Accademics</a></li>
            <li><a class="nav-link {% if page == 'gallery' %}active{% endif %}" href="{% url 'gallery' %}">Gallery</a></li>
            <li><a class="nav-link {% if page == 'search' %}active{% endif %}" href="{% url 'search' %}">Search</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    {% endblock %}
  </div>
</div>
