{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'image/SPAI_LOGO.jpg' %}">
    <title>Spai</title>
    {% block cssfiles %}
    <link rel="stylesheet" href="{% static 'css/spai.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
    
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    {% block header %}
    {% include 'header.html' %}
    {% endblock %}
    
    {% block content %}
    
    
    {% endblock %}

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.menu-icon').addEventListener('click', function() {
                document.querySelector('.navbar').classList.toggle('active');
            });
        });
    </script> 
    {% block jsfile %}
    <script type="text/javascript" src="{% static 'js/spai.js' %}"></script>   
    {% endblock %}
</body>
</html>