{% extends 'main.html' %}
{% load static %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block content %}
<h1>User Detail</h1>
<div class="container">
    <div class="form-container">
        <h2 class="text-center">User Details</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="degree">Degree:</label>
                    {{ form.degree }}
                </div>
                <div class="form-group">
                    <label for="profession">Profession:</label>
                    {{ form.profession }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="institution">Institution:</label>
                    {{ form.institution }}
                </div>
                <div class="form-group">
                    <label for="department">Department:</label>
                    {{ form.department }}
                </div>
            </div>

            <div class="form-group">
                <label>Address</label>
            </div>
            <div class="form-group">
                <label for="house_name">House Name:</label>
                {{ form.house_name }}
            </div>
            <div class="form-group">
                <label for="street_name">Street Name:</label>
                {{ form.street_name }}
            </div>
            <div class="form-group">
                <label for="city_name">City Name:</label>
                {{ form.city_name }}
            </div>
            <div class="form-group">
                <label for="pin">PIN:</label>
                {{ form.pin }}
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="phone_number">Phone Number:</label>
                    {{ form.phone_number }}
                </div>
                <div class="form-group">
                    <label for="alternate_number">Alternate Number:</label>
                    {{ form.alternate_number }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="alternate_mail">Alternate Email:</label>
                    {{ form.alternate_mail }}
                </div>
                <div class="form-group">
                    <label for="photo">Photo:</label>
                    {{ form.photo }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="specialized_in">Specialized In:</label>
                    {{ form.specialized_in }}
                </div>
                <div class="form-group">
                    <label for="research_interest">Research Interest:</label>
                    {{ form.research_interest }}
                </div>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}