{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="about-container mission">
    <div class="mission-top-row">
        <h1 style="margin-bottom: 0%;">EXECUTIVE COMMITTEE MEMBERS OF SPAI</h1>
    </div>
    <div class="mission-vission">
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
                <!-- <div class="mission-icon">
                    <img class="pic-on" src="{% static 'image/football1.svg' %}" alt="">
                    <img class="pic-off" src="{% static 'image/football2.svg' %}" alt="">
                </div> -->

            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/PRESIDENT.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2 style="margin-bottom: 0%;">Dr. Anil Karwande</h2>
                    <div class="positext">
                        President of SPAI
                    </div>
                    <p style="margin-top: 0%;">
                        Dr Anil Karwande is President of Sports Psychology Association of India. Dr Anil has done his
                        PhD in
                        Physical Education. He’s the founder of NET JRF GURUKUL. He’s the academic counselor for Solapur
                        University
                        and the Vice-President Vishwa Punarnirman Sangh. He is the Former Principal of IDCPE Nagpur and
                        a former
                        member board of Management LNIPE Deemed University Gwalior. He's working on a project to
                        Increase awareness
                        of entry into the Defense Forces. He is the President of KREEDA BHARTI Vidarbha-Prant and
                        Maharashtra. He
                        has received a letter of Recognition by Indian Association of Sports Medicine for the upliftment
                        of Sports
                        Medicine in the country.He has received Rajiv Gandhi Education Excellence Award given by the
                        Indian Society
                        Council. He has received Bharat Vidya Ratan Award 2010 given by the Health and Development
                        Association. He
                        has received the Ideal Teacher Award 2013 given by Maharastra State Physical & Educational
                        Teacher
                        Association. He has participated in more than 100 seminars and conference at national and
                        international
                        level.
                    </p>

                </div>
            </div>

        </div>

        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
                <!-- <div class="mission-icon">
                        <img class="pic-on" src="{% static 'image/football1.svg' %}" alt="">
                        <img class="pic-off" src="{% static 'image/football2.svg' %}" alt="">
                    </div> -->

            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/secretary.jpg' %}" alt="">
                </div>
                <div class="president-content">
                    <h2 style="margin-bottom: 0%;">Prof Anil Ramachandran</h2>
                    <div class="positext">
                        Secretary of SPAI
                    </div>
                    <p style="margin-top: 0%;color: transparent;" >
                        Prof Anil Ramachandran is Secretary of Sports Psychology Association of India ...... .......... ......... ......... .......... ............ ......................... ........................ ................... .................
                    </p>

                </div>
            </div>

        </div>


        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/TREASURER.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2 style="margin-bottom: 0%;">Prof (Dr.) Mahendran Kumar Singh</h2>
                    <div class="positext">
                        Treasurer of SPAI
                    </div>
                    <p style="margin-top: 0%;">
                        Prof. (Dr.) M K Singh is presently working in the department of sport psychology at LNIPE,
                        Gwalior.He is also a chief proctor of LNIPE & a Finance Secretary of SPAI. He has more than 30
                        Years teaching experience out which more than 17 years at Master's level. He has the following
                        administrative experiences: Former Incharge Registrar, Former Dean Academics, Former Dean Sport
                        Sciences, Former Dean Physical Education and Applied Areas & Former HOD, Department of Sport
                        Psychology of LNIPE,Gwalior. He was also a Former HOD of Department of LAW at Guru Ghasidas
                        Central University, Bilaspur, Chhattisgarh and a Former HOD Dept. of Physical Education, CSJM
                        University, Kanpur. He has Authored Five Books & Published More than 50 Research Papers in
                        International/National Journals out of which 06 Papers are in SCOPUS Journals. He has also
                        presented more than 35 papers at International/National Level Conference/Seminars.
                    </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">

            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/Kamlesh.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Prof. (Dr.) M.L. Kamlesh</h2>
                    <div class="positext">
                        Patron of SPAI
                    </div>
                    <p>
                        Decorated with the accolade of Doctor of Science by the Open International University of
                        Medicina Alternativa, Colombo (Sri Lanka) for his outstanding contribution to the science of
                        physical education, Professor M.L. Kamlesh (b.1940), M.A. (English), M.Ed. (Physical Education),
                        Ph.D., well-known for excellence in academics, research, sport psychology and administration in
                        India and abroad, occupies the top-spot among the fraternity of physical educationists in the
                        country. Dr. Kamlesh has authored 29 books and published more than 72 research papers and 62
                        articles in national and international journals and periodicals and given 77 keynote addresses
                        and invited lectures at various national (181) and international conferences (30).This former
                        Principal, of the Sports Authority of India’s Laxmibai National College of Physical Education,
                        Thiruvananthapuram, and former Dean, Faculty of Physical Education, University of Kerala, with
                        an outstanding career of more than 45 years, was the founder member of Sports Psychology
                        Association of India, which he very successfully served first as Secretary General for two
                        terms, and then as President for next two terms. He has been bestowed upon Life-time Achievement
                        Award by(1) Sports Psychology Association of India in 2004 for distinguished role in the
                        development of sport psychology in the country; (2) the Alumni Association of Physical
                        Education, Jiwaji University, Gwalior in 2005; (3) University of Delhi (2011); (4) by Punjabi
                        University, Patiala (2012); and by (5) Guru scientist, University, Amritsar (2014) for rendering
                        outstanding service to physical education and sport as a teacher, a researcher, a scientist and
                        an administrator. He was awarded ASPASP Fellowshipat the 8th International Congress of
                        Asian-South Pacific Association of Sport Psychology, June 29-July 3, 2018, organized by the
                        Korean Society of Sport Psychology at Keimyung University, Deagu, Republic Korea. SPAI
                        Presidential Award – 2023 for Excellence in Promoting Sports Psychology. Awarded at Dr. Ambedkar
                        College, Deekasha Bhoomi, Nagpur on 28 March 2023 at the closing of the 30th National Conference
                        of Sports Psychology.
                    </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/5.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Dr. Anuradha. S. Solanky</h2>
                    <p>
                        Dr. Anuradha. S. Solanky completed her M.Phil&Ph.D in Psychology from Bangalore University in
                        the year 1989-1998. Currently employed with “Sports Authority of India” as Sports Psychologist,
                        since July 1993.Job profile includes Research, Providing Psychological support to Indian
                        National teams, Counseling, Teaching (Diploma & Refresher Course), mental training,
                        psychological testing & Assessment. Trained under Russian Psychologist, Attended Sports Science
                        training in University of Birmingham & Certification of “Mind room training” by Dr. Pierre
                        Beauchamp, Canada. Member of Academic council, paper setter & Examiner for many Universities.
                        Life member of Sports Psychology Association of India (SPAI) and Indian Association of Sports
                        Medicine (IASM) also member of International Society of Sports Psychology (ISSP). Attended
                        Sports Science course at University of Birmingham (UK) in the year 2016. Attended many National
                        & International conferences, Seminars, workshops. Presented research papers, conducted Seminars
                        & educational programs for Coaches, Athletes, Physical Educationists etc.
                    </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/6.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Dr Aravind Jha</h2>
                    <p>
                        Colonel ( Dr) Arvind Jha, is a serving Indian Army Officer, who has been giving selfless,
                        dedicated & devoted service to our mother land for last 28 years. An enthusiastic, hardworking,
                        mature & optimistic individual who has immense faith in life & divine. He strongly believes in,
                        " you will be happy in your life in direct proportion to the degree to which you will be helpful
                        to the World ". He has PhD in Sports Psychology, MSc in Sports Psychology, LLM Human Rights, PG
                        Diploma in Sports Management, Sports Law & Sports Patent and Sports Journalism. He has Imparted
                        Psychological training to more than 1000 athletes ( Sub Junior / Junior / Senior / Masters &
                        Elites) from Archery, Athletics, Boxing, Diving, Fencing, Hockey, Kabadi, Shooting, Swimming,
                        Weight Lifting &Wreastling at Army Sports Institute, Pune & various places in states / Army /
                        Navy / Air force since 2014. He has rendered his services as Sports Psychologist in Rio Olympics
                        2016, with Services, Army & State teams, presently imparting psychological help to elite
                        athletes like, Awinash Sable, Gulveer Singh, Kartic Kumar, Gopi T, Jinson Johnson, Shrinu, &
                        others.
                    </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/7.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Sr. Prof Dilip Kumar Dureha</h2>
                    <p>Prof Dilip Kumar Dureha was the former Vice-Chancellor of Lakshmibhai National Institute of
                        Physical Education, Gwalior (M.P). He is the Nominee of Governor of Tamil Nadu as Convenor for
                        the search committee for the selection of Vice-Chancellor. Lifetime Achievement Award for his
                        contribution in the field of Physical Education and Sports Psychology. Past President & Patron
                        of Sports Psychology Association of India. Expert member selection committee in Physical
                        Education and applied sciences in different universities. Executive member of the Managing
                        Council of Asia South Pacific Association of Sports. Several Research papers in ASPASP & ISSP
                        Conferences, journals and proceedings in INDIA. 24 Ph.D. scholars have been awarded PhD under
                        his supervision. </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/8.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Dr Jolly Roy</h2>
                    <p>Dr Jolly Roy is a Professor of sport psychology at the Faculty of Sports and Exercise Sciences in
                        the Centre for Sport Science at Sri Ramachandra Institute of Higher Education and Research
                        (Deemed University), Chennai, India. She is also an ISSP registered sport psychology
                        practitioner. Previously Jolly Roy was a faculty engaged in education and research at University
                        of Science Malaysia; She served as a senior consultant (sport psychology) at the National Sports
                        Institute of Malaysia and as a sports scientist at Sports Authority of India. She also served as
                        a Professor in Sport Psychology at Manav Rachna University,Faridabad,Delhi,India. Dr Jolly has a
                        PhD ,Masters degree in Psychology and MSW degree (psychiatry). She was trained in sport
                        psychology at the Research Institute for Olympic Sports, Finland and at Florida State
                        University, USA. Dr Jolly was engaged with the psychological preparation of the London Olympic
                        Archery team of Malaysia, served as the psychologist for the Indian contingent for the Asian
                        Games Busan, served as a psychologist for the Malaysian contingent for the Equestrian Endurance
                        World Championships in Malaysia, and the South East Asian games in Laos, Indonesia, and
                        Singapore. She has to her credit book, book chapters and research papers in peer-reviewed
                        journals. Currently Dr Jolly is an elected managing council member of ASPASP. Previously she
                        served as a managing council member of the International Society of Sport Psychology(ISSP)
                        2017-2021.</p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/9.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Lalit Sharma</h2>
                    <p>Working in IGIPESS, University of Delhi. He teaches Sports Psychology and Working on PST,
                        Athletic Intelligence and tools development.</p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/10.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Dr. Stalin Raphel</h2>
                    <p>Dr. Stalin Raphel is the Head and Assistant Professor of Physical Education Department, St
                        Jospeh’s College, Thrissur. He is the executive member of Sports Psychology Association of
                        India. He has done his PhD and M Phil in Physical Education focusing on Sports Psychology. He is
                        a registered practitioner of the International Society of Sport Psychology (ISSP). Has published
                        more than 10 research papers in International and national publications. He has also trained in
                        Hypnotherapy, Neuro Linguistic Programming and a short-term course on “Transactional Analysis”.
                        Sports performance psychologist of the India Junior Women basketball Team for Asian
                        Championship, Mind Coach of Ancy Sojan Sports performance psychologist of Kerala for the 35th
                        National Games 2015 and has worked with many national and international level athletes. </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/11.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Prof R K Yadav</h2>
                    <p>Prof. R. K. Yadav is a university teacher. Teaching various subjects to graduate, post graduate
                        students, M. Phil and Ph. D Scholer, along with SportsPsychology and statistics He. joined in
                        June 1984 and retired as Prof. in November 2021.
                        Guided near about 30 Ph. D Scholars Tried to teach some of the psychological skills to
                        University Volleyball players
                    </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/12.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Dr. Amanendra Mann</h2>
                    <p>Dr. Amanendra Mann, he is the secretary in Northern Region of Sports Psychology Association of
                        India. He holds a PhD degree in Sports Psychology. He has qualified ISSF ‘B’EST course organized
                        by NRAI and was awarded major research project by UGC entitled, “Psychological Skills Training
                        Programme for Rifle and Pistol Shooters to enhance their Performance Levels. Member of various
                        Sports Committees Panjab University for the last fifteen years. </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/13.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Dr. Megha Sahu</h2>
                    <p>Dr. Megha Sahu is Assistant Professor at LNIPE, Gwalior. Holds a PhD ad M Phil degree in Physical
                        Education. She’s guiding research scholars and Master degree students. She has published
                        research papers in various journals and proceedings and has presented papers in Conference,
                        workshops and Seminars. </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/14.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Prof Samiran Chakraborthy</h2>
                    <p>Prof Samiran Chakraborthy has done PhD in Physical Education. His field of Specialization is on
                        Sports Management and Gymnastics. He has guided several PhD Scholars and MPhil scholars and Post
                        Graduate students. numerous amounts research paper publication in journals and seminars. </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/15.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Prof. Sambhu Prasad</h2>
                    <p>Prof. Sambhu Prasad is the Dean of Physical Education & Sports Science, Rajiv Gandhi University.
                        He has done his PhD in Physical Education. He has also done a Diploma program in Pedagogical
                        Science. He has completed 3 funded research projects, and several research publications on
                        various platforms. He is a member of the editorial board and board of studies. </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/16sudarsan.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Dr. Sudarsan Biswas</h2>
                    <p>Dr. Sudarsan Biswas, Associte Professor, Department of Physical Education & Sport Science,
                        Visva-Bharati and Former sports officer, University of Calcutta. Acting as President of PEFI
                        (Physical Education Foundation of India) West Bengal Chapter since 2019. PEFI National Award on
                        “Excellence and Leadership on Sports” in 2022. He has received an award for Doctor of Letters,
                        D’
                        Litt in Physical Education and Sports Sciences from St. Mother Theresa University, Australia
                        Affiliated to Cambridge School of Distance Learning, UK.</p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/17.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Dr. Krishnakant</h2>
                    <p>Dr. Krishnakant, Assistant Professor of Department of Physical Education, BHU, Varanasi. </p>

                </div>
            </div>

        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/committee/18.png' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Dr. Mohammad Ashraf Khan </h2>
                    <p>Dr. Mohammad Ashraf Khan is a life member of Sports Psychology association of India. He has a PhD
                        and M Phil in Physical Education. He has presented several papers in various publications. He is
                        the author and co-author of Sports Management and Physical Education, Sports Journalism,
                        Physical Education and Sports and Sports Training. He’s working as Physical Education Teacher in
                        Govt. Higher Secondary School (J. & K.) </p>

                </div>
            </div>

        </div>
        <div class="m-v-container" style="width: 90%;">
            <div style="display: flex;align-items: center;">
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/profile-icon.svg' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>A P Joshi </h2>


                </div>
            </div>

        </div>
    </div>

</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}