{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="about-container mission">
    <div class="mission-top-row">
        <h1 style="margin-bottom: 0%;">SECRETARY OF SPORTS PSYCHOLOGY ASSOCIATION OF INDIA</h1>
    </div>
    <div class="mission-vission">
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
                <!-- <div class="mission-icon">
                    <img class="pic-on" src="{% static 'image/football1.svg' %}" alt="">
                    <img class="pic-off" src="{% static 'image/football2.svg' %}" alt="">
                </div> -->

            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    <img src="{% static 'image/secretary.jpg' %}" alt="">
                </div>
                <div class="president-content">
                    <h2>Prof Anil Ramachandran</h2>
                    <p>
                        Prof Anil Ramachandran is the Secretary General of Sports Psychology Association of India.
                        Presently Dean and Head of School of Physical Education and Sports Sciences, Kannur University,
                        Kannur, Kerala, Dr Anil has served as Director, IQAC; Director, Research and Development Cell
                        and Registrar (i/c) of Kannur University. He is also the Syndicate Member of Kannur University.
                        Qualified with MPhil and PhD in Physical Education, he also has MA and MPhil in Psychology, P G
                        Diploma in Guidance and Counselling and MBA in Sports Management Adjunct Faculty at Manipal
                        University, Manipal and Somaiya University, Mumbai. Research Supervisor with research focus on
                        Positive psychology and coaching; Psycho-physiological demands in sports; Recovery science and
                        peak performance; Research in badminton. Undertaken various externally funded research projects
                        including two sports science research grants from Badminton World Federation.
                    </p>
                    <p>
                        Consultant sports psychologist and mentor who was the chief of the sports psychology panel for
                        Kerala in the National Games 2015 and for Khleo India games. Served as sports psychology
                        consultant and mentor for elite badminton, tennis and cricket players, and was attached with the
                        National Cricket Academy as Sports Psychologist for the National junior camps.
                    </p>
                    <p>
                        Invited talks and Resource person for more than 200 national and international
                        conferences/seminars with invited talks and presentations at Switzerland, Denmark, China,
                        Thailand, Brazil, Srilanka and Australia. Badminton World Federation Certified Badminton Coach
                        and Badminton Player who has represented India in the World Masters Badminton Championships at
                        Korea in September 2023.
                    </p>

                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}