{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content2.css' %}">


{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-pic">
        
        <!-- <img class="full-width-img" src="{% static 'image/about1.0.png' %}" alt="Image 2"> -->
        <img class="full-width-img" src="{% static 'image/basket.jpg' %}" alt="Image 2">
        <img src="{% static 'image/about2.1.png' %}" alt="" class="about2 on">
        <img src="{% static 'image/about2.png' %}" alt="" class="about2 of">

    </div>
    <div class="about-h-texts">
        <img src="{% static 'image/about3.png' %}" alt="">
        <h6>About spai</h6>
        <h2>Passion for the Game<br>
            Driven by Excellence</h2>
    </div>
</div>
<div class="about-container run-repeat">
    <div class="about" style="padding-bottom: 20px;">
        <h1 style="margin-bottom: 0%;">ABOUT SPORTS PSYCHOLOGY ASSOCIATION OF INDIA </h1>
        <div class="about-content">
            <p><b>Sports Psychology Association of India</b> is a growing platform that focuses on understanding how
                psychological factors affect performance and how participation in sports and exercise impacts
                psychological and physical well-being. As Indian athletes continue to make their mark in international
                sports, the demand for sports psychology services has grown. Over the last two decades, there has been
                increasing recognition of the role of mental training in achieving elite athletic performance, with a
                growing number of Indian athletes working with sports psychologist. Sports psychologist helps athletes
                to deal with pressures, anxiety related to competition, intensifies their concentration and manages
                stress. The Sports Psychology Association of India (SPAI) plays a key role in promoting sports
                psychology across India. The association organizes conferences, workshops, and training programs for
                professional and athletes. With Indian sports moving towards more scientific and data driven approaches,
                sports psychology is expected to grow significantly. The Indian government’s focus on elite athlete
                development through initiatives like KheloIndia and the Target Olympic Podium Scheme also supports the
                integration of sports psychology. The Sports Psychology Association of India (SPAI) is a national
                organization committed to the advancement of sports psychology as an essential component of athletic
                development in India. Founded with the goal of integrating psychological principles into the world of
                sports, Sports Psychology Association of India promotes the mental well-being and performance
                enhancements of athletes across all levels.</p>
        </div>
    </div>
    
</div>
<div class="footer-links" style="margin-top: 0px;background-color: #F2F2ED;">
    <a href="{% url 'about_page' %}?page=about_spai">About SPAI journal</a>
    <a href="{% url 'fee_and_payment' %}" >Fee & payments</a>
    <a href="{% url 'about_page' %}?page=mission">Our mission</a>
    <a href="{% url 'about_page' %}?page=history">History</a>
    <a href="{% url 'publications' %}?page=journal_archives">Publication Archive</a>
    <a href="{% url 'call_for_manuscript' %}">Submit Research Paper</a>
    <a href="{% url 'about_page' %}?page=committee">Committees</a>
    <a href="{% url 'call_for_manuscript' %}">Publication Guidelines</a>
    <a href="{% url 'news' %}?tab=upcoming">Upcoming Events</a>
    <a href="{% url 'news' %}?tab=post">Events Organized</a>
    <a href="{% url 'publications' %}?page=joinaseditor">Join as Editor</a>
    <a href="{% url 'publications' %}?page=joinasreviewer">Join as Reviewer</a>
    <a href="{% url 'publications' %}?page=editorial">Editors & Reviewers</a>
    <a href="{% url 'membership' %}?page=previlege">About Membership Privilege</a>
</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}