{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/history.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="history-head">
    <h1>HISTORY OF <br> SPORTS PSYCHOLOGY ASSOCIATION OF INDIA</h1>
</div>
<div class="history">
    <div class="main-his">
        <h2>Sports Psychology Association of India</h2>
        <p>As untraceable documentary evidence goes, in the mid-1970s, at the time of a seminar at Hyderabad, a few
            zealotsfrom physical education and psychologyformed themselves into asports psychology organization.
            However, according to Bhattacharya (1987): “During the seventh annual conference of the IASM (Indian
            Association of Sports Medicine) at Varanasi in 1977, delegates interested in the psychological aspects
            of sports decided to form a group of their own. Thus, the Indian Association of Sports Psychology was
            born” with approximately 20 founding membersincluding the author of the article himself. This version of
            the origin of IASP looks more credible. This newly formed society organized a national meet and
            published the first and the last issue of the Journal of Sports Psychology. However, persisting resource
            deficit and lack of organizational cohesivenessmade the association defunct for some time and then
            disappeared from the scene. Long after, it was heard of no more.</p>
    </div>
    <div class="second animate">
        <h3 class="animate-h3">The Revival and the First Governing Council</h3>
        <div class="content-wrapper">
            <div class="content animate-z">
                <p>The revival of the organization occurred on 23rd February 1985 at the time of the first national
                    conference of the embryonic Indian Association of Sports Scientists and Physical Educationists. Under
                    the patronage of N.N. Mall, then the Dean of Laxmibai National College of Physical Education (now LNIPE,
                    Deemed University), M.L. Kamlesh (Punjab Government College of Physical Education, Patiala). Avinash
                    Sidhu (LNCPE, Gwalior), Rajinder Singh (LNCPE, Gwalior), Agyajit Singh (Punjabi University, Patiala),
                    and others played a key-role in bringing reviving the national society, which was named asSports
                    Psychology Association of India with itsfirst Executive Council as given here-in-under:</p>
            </div>
            <div class="his-pic">
                <img src="{% static 'image/hist8.jpg' %}" alt="">
            </div>
        </div>
        <div class="table-container animate-z">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Designation</th>
                        <th>Name</th>
                        <th>Institutional Affiliation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>President</td>
                        <td>Jitendra Mohan</td>
                        <td>Department of Psychology, Panjab University, Chandigarh</td>
                    </tr>
                    <tr>
                        <td>Secretary General</td>
                        <td>M.L. Kamlesh</td>
                        <td>Punjab Government College of Physical Education, Patiala</td>
                    </tr>
                    <tr>
                        <td>Jt. Secretary</td>
                        <td>Avinash Sidhu</td>
                        <td>Laxmibai National College of Physical Education, Gwalior</td>
                    </tr>
                    <tr>
                        <td>Finance Secretary</td>
                        <td>H.A. Khan</td>
                        <td>Faculty of Sports Sciences, Netaji Subhas National Institute of Sports, Patiala</td>
                    </tr>
                    <tr>
                        <td>Executive Members</td>
                        <td>Agyajit Singh</td>
                        <td>Department of Education, Punjabi University, Patiala</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Gurbux Singh</td>
                        <td>Department of Physical Education, Panjab University, Chandigarh</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>S. Srivastan</td>
                        <td>Department of Physical Education, GND University, Amritsar</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>N.S. Mann</td>
                        <td>Department of Physical Education, Panjab University, Chandigarh</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Joginder Mukherji</td>
                        <td>Department of Psychology, Panjab University, Chandigarh</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Rajinder Singh</td>
                        <td>Laxmibai National College of Physical Education, Gwalior</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>G.D. Fortgalland</td>
                        <td>NSNIS South Centre, Bangalore</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="second">
        <h3 class="l2 animate-h3">Historic Milestones </h3>
        <div class="content-wrapper lef">
            <div class="his-pic">
                <img src="{% static 'image/hist7.jpg' %}" alt="">
            </div>
            <div class="content animate-z">
                <h4>Cadre Strength</h4>
                <p>From an initial member strength of 13, the SPAI presently has a cadre strength ofapproximately 600
                    members, though those very active is not even half of it. This shows how the developmental perspective
                    of the Organization hasexpanded longitudinally and horizontally signifying a quantum jump from year to
                    year inthe domains of research, scientific interaction, and extensionservices.Since inception, there has
                    been an all-out effort on the part of the SPAI to assert itself on the academic and sport environment in
                    the country, and abroad too. Those in the forefront haveshown their mettle at the international forums
                    in policy formulations, and other developmental activities.</p>
            </div>
            
        </div>
        <div class="nc-wrapper animate-z">
            <h4>National Conferences</h4>
            <p>Despite a variety of constraints, SPAI, somehow, has been able to successfully get organized yearly
                national conferences with strong support from highly credited institutions and celebrity organizations
                as shown hereunder.</p>
        </div>
        <h4 style="color: rgb(1, 1, 49);">NATIONAL CONFERENCE OF SPORTS PSYCHOLOGY THROUGH THE YEARS</h4>
        <div class="table-container animate2">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Dates</th>
                        <th>Venue/Organizing Institution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>I</td>
                        <td>11-13 January, 1986</td>
                        <td>LNCPE, Gwalior</td>
                    </tr>
                    <tr>
                        <td>II</td>
                        <td>15-17 November 1986</td>
                        <td>NSNIS, Patiala</td>
                    </tr>
                    <tr>
                        <td>III</td>
                        <td>09-11 December 1987</td>
                        <td>LNCPE, Gwalior</td>
                    </tr>
                    <tr>
                        <td>IV</td>
                        <td>31 January - 02 February 1989</td>
                        <td>Department of Physical Education, Gujrat University, Ahmedabad</td>
                    </tr>
                    <tr>
                        <td>V</td>
                        <td>23-25 February 1990</td>
                        <td>Department of Psychology, Kashi Vidyapeeth, Varanasi</td>
                    </tr>
                    <tr>
                        <td>VI</td>
                        <td>25-27 February 1991</td>
                        <td>Sports Psychology of India, New Delhi in collaboration with Dault Ram College, Delhi
                            University</td>
                    </tr>
                    <tr>
                        <td>VII</td>
                        <td>28-30 December 1992</td>
                        <td>LNCPE, Thiruvananthapuram, Kerala</td>
                    </tr>
                    <tr>
                        <td>VIII</td>
                        <td>21-23 March 1993</td>
                        <td>Department of Psychology, Kumaon University, Almora</td>
                    </tr>
                    <tr>
                        <td>IX</td>
                        <td>06-08 May 1994</td>
                        <td>Department of Physical Education, Nagarjuna University, Guntur, A.P.</td>
                    </tr>
                    <tr>
                        <td>X</td>
                        <td>29-31 March 1997</td>
                        <td>Department of Physical Education Thiagarajar College, Madurai</td>
                    </tr>
                    <tr>
                        <td>XI</td>
                        <td>06-08 March 1998</td>
                        <td>University College of Technology, Osmania University, Hyderabad</td>
                    </tr>
                    <tr>
                        <td>XII</td>
                        <td>28-30 December 1999</td>
                        <td>LNCPE, Thiruvananthapuram, Kerala</td>
                    </tr>
                    <tr>
                        <td>XIII</td>
                        <td>17-19 December 2000</td>
                        <td>Department of Physical Education, Gurukul Kangri University, Haridwar</td>
                    </tr>
                    <tr>
                        <td>XIV</td>
                        <td>27-27 December 2001</td>
                        <td>Department of Psychology, Mahatma Gandhi Kashi Vidyapeeth, Varanasi</td>
                    </tr>
                    <tr>
                        <td>XV</td>
                        <td>06-08 October 2002</td>
                        <td>Department of Psychology, Kumaon University, Almora</td>
                    </tr>
                    <tr>
                        <td>XVI</td>
                        <td>28-30 December 2003</td>
                        <td>Department of Physical Education, Chaudhary Charan Singh University, Meerut</td>
                    </tr>
                    <tr>
                        <td>XVII</td>
                        <td>26-28 November 2004</td>
                        <td>Department of Psychology, University of Jammu, Jammu</td>
                    </tr>
                    <tr>
                        <td>XVIII</td>
                        <td>27-29 January 2006</td>
                        <td>Department of Psychology and Sports Board, J.N.V. University, Jodhpur</td>
                    </tr>
                    <tr>
                        <td>XIX</td>
                        <td>18-20 January 2007</td>
                        <td>Nizam Institute of Engineering & Technology, and Department of Psychology, Osmania
                            University, Hyderabad.</td>
                    </tr>
                    <tr>
                        <td>XX</td>
                        <td>Not held/recorded</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td>XXI</td>
                        <td>07-09 February 2011</td>
                        <td>University Department of Physical Education & Sports Sciences, Acharya Nagarjuna
                            University, Guntur, Andhra Pradesh</td>
                    </tr>
                    <tr>
                        <td>XXII</td>
                        <td>25-27 January 2012</td>
                        <td>Shaheed Kanshi Ram College of Physical Education, BhagooMajra, Kharar, Punjab</td>
                    </tr>
                    <tr>
                        <td>XXIII</td>
                        <td>29-31 January 2013</td>
                        <td>Department of BPE, Christ College, Irinjalkuda (Trissur), Kerala</td>
                    </tr>
                    <tr>
                        <td>XXIV</td>
                        <td>04-06 January 2014</td>
                        <td>Department of Physical Education, Visva Bharati Sports Board, Shanti Niketan, West
                            Bengal</td>
                    </tr>
                    <tr>
                        <td>XXVI</td>
                        <td>25-26 February 2015</td>
                        <td>Department of Physical Education, Baselius College, Kottavam, Kerala</td>
                    </tr>
                    <tr>
                        <td>XXV</td>
                        <td>2016</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <td>XXVIII</td>
                        <td>28-30 December 2017</td>
                        <td>BCPA College of Physical Education, Wadala, Mumbai</td>
                    </tr>
                    <tr>
                        <td>XXIX</td>
                        <td>29-31 March 2019</td>
                        <td>National Institute of Technology Warangal, Warangal (Telangana State)</td>
                    </tr>
                    <tr>
                        <td>XXX</td>
                        <td>28-30 November 2019 (International)</td>
                        <td>Department of Physical Education, Punjabi University, Patiala</td>
                    </tr>
                    <tr>
                        <td>XXXI</td>
                        <td>09-10 March 2021 online </td>
                        <td>Indira Gandhi Institute of Physical Education and Sports Sciences, New Delhi</td>
                    </tr>
                    <tr>
                        <td>XXXII</td>
                        <td>27-28 March 2023</td>
                        <td>Dr. Ambedkar College, Deekshabhoomi, Nagpur</td>
                    </tr>
                    <tr>
                        <td>XXXIII</td>
                        <td>23-24 March 2024</td>
                        <td>Kumar Guru College of Liberal Arts and Science, Coimbatore, Tamil Nadu</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <i># A break in regular meetings on a few occasions occurred due to reasons beyond control.</i>
    </div>
    <div class="second animate">
        <h3 class="animate-h3">Change of Guards</h3>
        <div class="content-wrapper">
            <div class="content animate-z">
                <p>Change of guards has almost regularly been effected except in exceptional circumstances as shown below.
                    This gives an edge to SPAI over all other organizations of the kind in their functioning as professional
                    bodies. The key officials of the Organization through the years are shown in the following concise
                    table. </p>
            </div>
            <div class="his-pic">
                <img src="{% static 'image/hist6.jpg' %}" alt="">
            </div>
        </div>
        <div class="table-container animate-z">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Sl No.</th>
                        <th>Terrn of Office</th>
                        <th>President</th>
                        <th>Secretary General</th>
                        <th>Finance Secretary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>February, 1985 - March, 1993</td>
                        <td>Jitendra Mohan</td>
                        <td>M.L. Kamlesh</td>
                        <td>H.A. Khan</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>April 1993 - March 2002</td>
                        <td>M. L. Kamlesh</td>
                        <td>Avinash Sidhu</td>
                        <td>Usha Singh</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>April 2002 - March 2006</td>
                        <td>Anand Kumar</td>
                        <td>Sanjiv Sahni</td>
                        <td>Dilip Dureha</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>April 2006 - March2012</td>
                        <td>Rajinder Singh</td>
                        <td>Jayashree Acharya</td>
                        <td>Dilip Dureha</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>April 2012 - March 2016</td>
                        <td>N. S. Mann</td>
                        <td>Dilip Dureha</td>
                        <td>Dhananjoy Shaw</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>April 2016 - March 2023</td>
                        <td>Dilip Dureha</td>
                        <td>Anuradha Solanki</td>
                        <td>Keshav Singh Gujjar</td>
                    </tr>
                    <tr>
                        <td>7.</td>
                        <td>April 2023 to date</td>
                        <td>Anil Karvande</td>
                        <td>Anil Ramachandran</td>
                        <td>M. K. Singh</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/history.js' %}"></script>
{% endblock %}