{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/message.css' %}">
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="message">
    <div class="msg-head">
        <h1>Message From General Secretary General of SPAI</h1>
    </div>
    <div class="msg-content sec">
        <div class="msg">
            <img src="{% static 'image/msg.svg' %}" alt="">
            <p>Indian sports performance often highlights the phrase “so close yet so far” especially in major
                sporting events like Olympic Games, Commonwealth Games ad World Championships. Among the various
                factors the mental strength and lack of professional mental support and preparation has often
                been questioned recently.</p>
            <p>SPAI, the pioneer association of Sports Psychology in India with its affiliation with
                International
                Society of Sports Psychology (ISSP) and ASPAP understands the organisational responsibility in
                turning the tables and letting better podium finish for Indian athletes.</p>
            <p>With the initiation of certification programme, Sports Psychology Association of India aims to
                provide resources, training and create a platform for sports psychologists to get equipped,
                grow, develop, network and collaborate for supporting Indian sports. Strengthening
                collaborations
                between sports federations, sports academies, training centres, and sports science
                professionals,
                could enhance its impact. Additionally, organizing workshops and seminars could help educate
                coaches, athletes, and parents about the benefits of sports psychology. </p>
            <p>The time and considerable energy devoted to strategic execution of SPAI projects and schemes,
                and diverse committees constituted, which are updated on the website would enable better
                functioning of the association. The continued publication of our official journal and
                the organising of the prestigious annual national conference needs to be prioritised and
                taken up in the best interests and progress of the association.</p>
            <p>Considering the opportune to engage with SPAI, and continued relationship and interactive
                reciprocal communication lets make our growth more exiting. </p>
            </p>
        </div>
        <div class="msg-pic">
            <img src="{% static 'image/msg_sec.png' %}" alt="">
        </div>
        
    </div>
</div>


{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
    const messagesContainers = document.querySelectorAll('.messages');

    if (messagesContainers.length > 0) {
        console.log("Messages containers found.");

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    console.log("Messages container is in view. Adding animation.");
                    entry.target.classList.add('animate');
                } else {
                    console.log("Messages container is out of view. Removing animation.");
                    entry.target.classList.remove('animate');
                }
            });
        }, { threshold: 0.01 });

        messagesContainers.forEach(container => {
            observer.observe(container);
        });
    } else {
        console.error("No messages containers found.");
    }
});
document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.menu-icon').addEventListener('click', function() {
                document.querySelector('.navbar').classList.toggle('active');
            });
        });

        document.getElementById('userProfileIcon').addEventListener('click', function() {
    var dropdownMenu = document.getElementById('dropdownMenu3');
    dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
});
</script> 
{% endblock %}
