{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="about-container mission bg-2">
    <div class="mission-top-row">
        <h1>MAJOR HIGHLIGHTS</h1>
    </div>
    <div class="mission-vission">
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
                <div class="mission-icon">
                    <img class="pic-on" src="{% static 'image/highlight1.svg' %}" alt="">
                    <img class="pic-off" src="{% static 'image/highlight2.svg' %}" alt="">
                </div>
                <i>
                    <h3 style="margin-left: 10px;">Contribution to the International Forums</h3>
                </i>
            </div>
            <p style="line-height: 30px;">The achievements of SPAI have been simply outstanding on the international front. The Association played
                a key role in the formation of Asian South-Pacific Association of Sport Psychology during the 1988-Seoul
                Olympic Scientific Congress. There, M.L Kamlesh and Anand Kumar from India actively participated in the
                proceedings of the meeting of the representatives from Japan, South Korea, Malasia, Australia, Thailand,
                Taiwan, and others. On this occasion, Jitendra Mohan (president, SAPI) was given the position of a
                vice-president, M.L. Kamlesh taken on the managing council as a national representative.Both held their
                respective positions for two terms of four years each. In continuity, at 8th International Congress of
                Asian-South Pacific Association of Sport Psychology, June 29- July 3, 2018, organized by the Korean
                Society of Sport Psychology at Keimyung University, Deagu, Republic of Korea, on the 30th anniversary of
                the founding of ASPASP, M.L. Kamlesh was bestowed the ASPASP Fellowship Awardfor his contribution to the
                formation of ASPASP. While Dilip Dureha, and (late) Jayashree Acharya have been members of the ASPASP
                Managing Council for various periods, Jolly Roy is currently its member (2022-2026). Notably, Jitendra
                Mohan and Jolly Roy have had the privilege of being elected members of the Managing Council of the
                ISSPfor the periods 1989-1997 and 2017-2021 respectively. This apart, Jolly Roy was elected as a member
                of the Managing Council of the IAAP (International Association of Applied Psychology), Sport Psychology
                Division for the period 2010-2014. This has helped SPAI to enjoy several privileges and concessions
                during the international conferences and other scientific programmes. </p>
        </div>
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
                <div class="mission-icon">
                    <img class="pic-on" src="{% static 'image/highlight1.svg' %}" alt="">
                    <img class="pic-off" src="{% static 'image/highlight2.svg' %}" alt="">
                </div>
                <i>
                    <h3 style="margin-left: 10px;">Service to Sport</h3>
                </i>
            </div>
            <p style="line-height: 30px;">Commensurate with the objectives of the SPAI, quite a good number of members have been associated with
                the training of national athletes and teams. They fall into two categories – duly appointed through a
                selection process, and those offering voluntary service. In the first category fall H.A. Khan (hockey,
                boxing, weightlifting, golf), Manoranjini Khan (weightlifting, athletics), Sanjiv Sahni(shooting), Jolly
                Roy (athletics, hockey, volleyball), Reena Kaul (archery), Anuradha Solanki (weightlifting, hockey,
                netball, table tennis, volleyball), Deepak Mishra (psychological assessment of trainees under centre of
                excellence scheme), and others on the regular payroll of the Sports Authority of India. Conversely,
                there are those who have been rendering voluntary service to training of national and/or state level
                sportspersons at one time or the other include M.L. Kamlesh (archery), Avinash Sidhu (women’s field
                hockey), Jayashree Acharya (badminton, track & field), Anil Ramachandran (badminton, volleyball,
                fencing, football), Suresh Kutty (basketball, athletics, wrestling, kabaddi), Stalin (volleyball,
                athletics, kho-kho), Soni John (athletics, canoeing, rowing), and others. </p>
            <p>Apart from this, there is a huge number of young enthusiastic sport psychologists employed by the
                government agencies, corporate sector organizations, and/or national sports federations on contractual
                basis to carry forward of mission of “psychologizing” sport by providing psychological inputs to all
                categories of sportspersons training for competitions at various centres or in camps. </p>
        </div>
    </div>

</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}