{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/home/contactus.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">

{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="contact-us " style="margin-top: 0%;animation: scaleUp 1.5s ease-in-out forwards;">
    <div class="contact-us-row">
        <h2 style="font-size:25px;">Add your Testimonials here</h2>
    </div>
    <form action="{% url 'upload_testimonials' %}" method="POST" >
        {% csrf_token %}
        <div class="contact-us-grid-wrapper" style="font-family:'Popins',sans-serif;">
            <div class="contact-us-grid">
                <input name="name" type="text" placeholder="Your Name" required>
                <input type="text" name="email" placeholder="Your Email" required>
                <input type="text" name="phone" placeholder="Your Phone" required>
            </div>
            <div class="contact-us-grid">
                <textarea placeholder="Your Message" name="message" id="" required></textarea>
            </div>
        </div>
        <div class="contact-us-row">
            <input type="submit" value="SEND REVIEW">
        </div>
    </form>
</div>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}

{% endblock %}