{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/forgot.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}

<div class="about-container mission">
    <div class="mission-top-row">
        <h1 style="margin-bottom: 0%;">Forgot Password</h1>
        <p>Please enter your email address to reset your password.</p>
    </div>
    <form action="{% url 'email_redirection' %}" method="POST" class="form-real">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit" class="submit-btn">Send password reset mail</button>
        {% if messages %}
        {% for message in messages %}
        <div style="text-align: center;color: rgb(143, 1, 1);font-size: 13px;font-weight: 500; margin-top: 20px;"
            class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </form>
    <!-- <div class="form-container">

        <form action="{% url 'email_redirection' %}" method="POST" class="reset-password-form">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Enter your email" class="email-input" required>
            <button type="submit" class="submit-btn">Send password reset mail</button>
        </form>

        {% if messages %}
        {% for message in messages %}
        <div style="text-align: center;color: rgb(143, 1, 1);font-size: 13px;font-weight: 500;"
            class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div> -->
</div>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}