{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/members.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="life-h">
    <h1>life members</h1>

</div>
<div class="news-tabs">
    <ul class="tab-list">
        <li class="tab-item active" data-tab="new">New</li>
        <li class="tab-item" data-tab="life">Life Members</li>
        <li class="tab-item" data-tab="active-m">Active</li>
        <li class="tab-item" data-tab="non-active">Non-active</li>
    </ul>
</div>
<!-- <div class="tabs">
    <div class="tab" data-tab="new">New Members</div>
    <div class="tab" data-tab="life">Life Members</div>
</div> -->

<table class="table active" id="new">
    <thead>
        <tr>
            <th>Name</th>
            <th class="email">Email</th>
            <th>Membership Date</th>
            <th class="status">Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="username">
                jishnu
            </td>
            <td class="email">jishnu@gmail.com</td>
            <td>12.12.24</td>
            <td class="status">active</td>
            <td>
                <a href="">
                    <div class="view">
                        <img src="{% static 'image/eye.svg' %}" alt="">
                        <p>View</p>
                    </div>
                </a>
            </td>
        </tr>
        {% for user in members%}
        <tr>
            <td class="username">
                {{user.name}}
            </td>
            <td class="email">{{user.email}}</td>
            <td>{{user.membership_date}}</td>
            <td class="status">{{user.active}}</td>
            <td>
                <a href="{% url 'life_member_info' user.uid %}">
                    <div class="view">
                        <img src="{% static 'image/eye.svg' %}" alt="">
                        <p>View</p>
                    </div>
                </a>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>

<table class="table" id="life">
    <thead>
        <tr>
            <th>Name</th>
            <th class="email">Email</th>
            <th>Membership Date</th>
            <th class="status">Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="username">
                jishnu65765975
            </td>
            <td class="email">jishnu@gmail.com6757</td>
            <td>12.12.242443</td>
            <td class="status">active35435</td>
            <td>
                <a href="">
                    <div class="view">
                        <img src="{% static 'image/eye.svg' %}" alt="">
                        <p>View</p>
                    </div>
                </a>
            </td>
        </tr>
        {% for user in members%}
        <tr>
            <td class="username">
                {{user.name}}
            </td>
            <td class="email">{{user.email}}</td>
            <td>{{user.membership_date}}</td>
            <td class="status">{{user.active}}</td>
            <td>
                <a href="{% url 'life_member_info' user.uid %}">
                    <div class="view">
                        <img src="{% static 'image/eye.svg' %}" alt="">
                        <p>View</p>
                    </div>
                </a>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>

<table class="table" id="active-m">
    <thead>
        <tr>
            <th>Name</th>
            <th class="email">Email</th>
            <th>Membership Date</th>
            <th class="status">Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="username">
                jish
            </td>
            <td class="email">jishnu@gmail.com6757</td>
            <td>12.12.242443</td>
            <td class="status">active35435</td>
            <td>
                <a href="">
                    <div class="view">
                        <img src="{% static 'image/eye.svg' %}" alt="">
                        <p>View</p>
                    </div>
                </a>
            </td>
        </tr>
        {% for user in members%}
        <tr>
            <td class="username">
                {{user.name}}
            </td>
            <td class="email">{{user.email}}</td>
            <td>{{user.membership_date}}</td>
            <td class="status">{{user.active}}</td>
            <td>
                <a href="{% url 'life_member_info' user.uid %}">
                    <div class="view">
                        <img src="{% static 'image/eye.svg' %}" alt="">
                        <p>View</p>
                    </div>
                </a>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>
<table class="table" id="non-active">
    <thead>
        <tr>
            <th>Name</th>
            <th class="email">Email</th>
            <th>Membership Date</th>
            <th class="status">Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="username">
                ji
            </td>
            <td class="email">jishnu@gmail.com6757</td>
            <td>12.12.242443</td>
            <td class="status">active35435</td>
            <td>
                <a href="">
                    <div class="view">
                        <img src="{% static 'image/eye.svg' %}" alt="">
                        <p>View</p>
                    </div>
                </a>
            </td>
        </tr>
        {% for user in members%}
        <tr>
            <td class="username">
                {{user.name}}
            </td>
            <td class="email">{{user.email}}</td>
            <td>{{user.membership_date}}</td>
            <td class="status">{{user.active}}</td>
            <td>
                <a href="{% url 'life_member_info' user.uid %}">
                    <div class="view">
                        <img src="{% static 'image/eye.svg' %}" alt="">
                        <p>View</p>
                    </div>
                </a>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>
{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.menu-icon').addEventListener('click', function () {
            document.querySelector('.navbar').classList.toggle('active');
        });
    });
</script>
<script>
    document.querySelectorAll('.tab-item').forEach(item => {
        item.addEventListener('click', function () {
            // Remove active class from all tabs
            document.querySelectorAll('.tab-item').forEach(tab => tab.classList.remove('active'));
            // Add active class to the clicked tab
            this.classList.add('active');

            // Hide all tab panels
            document.querySelectorAll('.table').forEach(panel => panel.classList.remove('active'));
            // Show the selected tab panel
            const targetPanel = document.getElementById(this.dataset.tab);
            targetPanel.classList.add('active');
        });
    });

</script>
{% endblock %}