{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/members.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="content animated-list2">
    <div class="name">
        <div class="num" onclick="window.history.back()">
            <img src="{% static 'image/back.svg' %}" alt="">
        </div>
        <h1>{{user.first_name}} {{user.last_name}}</h1>
    </div>

    <div class="pic">
        {% if user.photo %}
        <img src="{{ user.photo.url }}" alt="">
        {% else %}
        <img src="{% static 'image/profile-icon.svg' %}" alt="photo">
        {% endif %}
    </div>
    <div class="details_container">
        <div class="number">
            <div class="num">
                <p>01</p>
            </div>
        </div>
        <div class="labels">
            <p>First name</p>
            <p>Last name</p>
            <p>User name</p>
            <p>Registration No</p>
        </div>
        <div class="details">
            <p>{{user.first_name}}</p>
            <p>{{user.last_name}}</p>
            <p>{{user.username}}</p>
            <p>{{user.reg_no}}</p>
        </div>
    </div>
    <div class="details_container">
        <div class="number">
            <div class="num">
                <p>02</p>
            </div>
        </div>
        <div class="labels">
            <p>E mail</p>
            <p>Alternate E mail</p>
            <p>Phone number</p>
            <p>Alternate Phone number</p>
        </div>
        <div class="details">
            <p>{{user.email}}</p>
            {% if user.alternate_email %}
                <p>{{user.alternate_email}}</p>
            {% else %}
                <p>None</p>
            {% endif %}
            <p>{{user.phone_number}}</p>
            <p>{{user.alternate_number}}</p>
        </div>
    </div>
    <div class="details_container">
        <div class="number">
            <div class="num">
                <p>03</p>
            </div>
        </div>
        <div class="labels">
            <p>Degree</p>
            <p>Proffession</p>
            <p>Institution</p>
            <p>Department</p>
            <p>Specialized in</p>
            <p>Research Interest</p>
        </div>
        <div class="details">
            <p>{{user.degree}}</p>
            <p>{{user.profession}}</p>
            <p>{{user.institution}}</p>
            <p>{{user.department}}</p>
            <p>{{user.specialized_in}}</p>
            <p>{{user.research_interest}}</p>
        </div>
    </div>
    <div class="details_container">
        <div class="number">
            <div class="num">
                <p>04</p>
            </div>
        </div>
        <div class="labels">
            <p>Address</p>
            <!--            <p>street name</p>-->
            <!--            <p>City name</p>-->
            <!--            <p>PIN</p>-->
            <!--            <p>State</p>-->
        </div>
        <div class="details">
            <p>{{user.address}}</p>
            <!--            <p>mambaram</p>-->
            <!--            <p>kannur</p>-->
            <!--            <p>670857</p>-->
            <!--            <p>kerala</p>-->
        </div>
    </div>
    <div class="details_container">
        <div class="number">
            <div class="num">
                <p>05</p>
            </div>
        </div>
        <div class="labels">
            <p>Current status</p>
            {% if request.user.is_superuser %}
            <p>Admin action</p>
            {% endif %}
            <p>Certificate</p>
        </div>
        <div class="details">
            <p>{{user.next_step}}</p>
            {% if request.user.is_superuser %}
            <p>{{user.admin_action}}</p>
            {% endif %}
            {% if user.admin_approved %}
            <p>
                <a style="text-decoration: none; color: inherit;" href="{% url 'certificate' user.slug_value %}" target="blank">
                            Click here to Download</a>
            </p>
            {% else %}
            <p>Under processing</p>
            {% endif %}
        </div>
    </div>
    {% if request.user.is_superuser %}
    {% if user.payment %}
    <div class="details_container">
        <div class="number">
            <div class="num">
                <p>06</p>
            </div>
        </div>
        <div class="labels">
            <p>Payment date</p>
            <p>Transaction id</p>
            <p>Reference id</p>
            <p>Bank name</p>
            <p>Payment type</p>
            <p>Proof</p>
        </div>
        <div class="details">
            <p>{{user.payment_date}}</p>
            <p>{{user.transaction_id}}</p>
            <p>{{user.reference_id}}</p>
            <p>{{user.bank_name}}</p>
            <p>{{user.payment_type}}</p>
            <p>
                 {{user.payment_doc}}

            </p>
        </div>
    </div>
    <div style="display: flex; justify-content: center;width: 100%;">
        {% if not user.admin_approved%}
        <a style="text-decoration: none; color: inherit;" href="{% url 'user_approval' user.slug_value %}">
            <div class="news-seemore">
                <div class="seemoretext">
                    Approve
                </div>
            </div>
        </a>
        {% endif %}
    </div>
    {% endif %}
    {% endif %}
</div>

{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.menu-icon').addEventListener('click', function() {
            document.querySelector('.navbar').classList.toggle('active');
        });
    });
</script>
{% endblock %}

