{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/reg.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/forgot.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="about-container mission">
    <div class="mission-top-row">
        <h1 style="margin-bottom: 0%;">Reset your Password</h1>
        <p>Please enter new password</p>
    </div>

    <form action="{% url 'reset_password' slug %}" method="POST" class="reset-password-form-done">
        {% csrf_token %}
        {% if form.errors %}
        <div class="error-box login" style="text-align:center;margin-top: 20px;margin-bottom: 20px;margin-left: 0%;width: 100%;box-sizing: border-box;">
            <ul>
                {% for field in form %}
                {% if field.errors %}
                <li>
                    <strong>{{ field.label }}:</strong>
                    {% for error in field.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div style="display: flex;justify-content: center;align-items: center;position: relative;">
            <input type="password" name="password" class="p1" id="password" placeholder="Enter new password" required>
            <span id="eye-icon" class="eye-icon" onclick="togglePassword()">
                <i class="fa fa-eye"></i>
            </span>
        </div>

        <input type="password" name="confirm_password" class="p1" id="confirm_password" placeholder="Confirm new password"
            required>

        <button type="submit" class="submit-btn">Reset Password</button>
    </form>

</div>
<!-- <div class="forgot-password-container">
    <div class="f-p-heading">
        <h1 style="text-align: center;">Reset your Password</h1>
    </div>
    <div class="f-p-form">
        <p class="form-description">Please enter new password</p>
        {% if form.errors %}
        <div class="error-box login" style="text-align:center;">
            <ul>
                {% for field in form %}
                {% if field.errors %}
                <li>
                    <strong>{{ field.label }}:</strong>
                    {% for error in field.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <form action="{% url 'reset_password' slug %}" method="POST" class="reset-password-form-done">
            {% csrf_token %}

            <div class="input-container">
                <label for="password">Password</label>
                <div class="password-input-container">
                    <input type="password" name="password" id="password" placeholder="Enter new password" required>
                    <span id="eye-icon" class="eye-icon" onclick="togglePassword()">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
            </div>

            <div class="input-container">
                <label for="confirm_password">Confirm Password</label>
                <div class="password-input-container">
                    <input type="password" name="confirm_password" id="confirm_password"
                        placeholder="Confirm new password" required>
                </div>
            </div>

            <button type="submit" class="submit-btn-reg">Reset Password</button>
        </form>
    </div>
</div> -->

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
<script>
    function togglePassword() {
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirm_password');
        const eyeIcon = document.getElementById('eye-icon');

        // Toggle visibility for both password fields
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            confirmPasswordInput.type = 'text';
            eyeIcon.innerHTML = '<i class="fa fa-eye-slash"></i>'; // Change icon to "eye-slash"
        } else {
            passwordInput.type = 'password';
            confirmPasswordInput.type = 'password';
            eyeIcon.innerHTML = '<i class="fa fa-eye"></i>'; // Change icon back to "eye"
        }
    }
</script>
{% endblock %}