body{
    overflow-x: hidden;
}
h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    margin: 0%;
    z-index: 2;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    margin: 0%;
    z-index: 2;
    
}

h3 {
    color: rgb(1, 1, 49);
    font-size: 44px;
    font-weight: 800;
    margin: 0%;
    line-height: 55px;
}

p {
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
}

.award-head-row {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 130px;

}
.life{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}
.ph-row {
    display: grid;
    grid-template-columns: 500px 1fr;
    padding: 0px 110px;
    gap: 30px;
}

@media(max-width:1012px) {
    .ph-row {
        display: flex;
        flex-direction: column;

    }
    h3{
        margin: 0px 20px;
    }
}

@media(max-width:550px) {
    .ph-row {
        padding: 0px 30px;
    }
    h3{
        font-size: 30px;
        line-height: 30px;
    }
}

.two {
    grid-template-columns: 1fr !important;
}

.ph-pic {
    width: 100%;
    height: auto;
}

.ph-pic img {
    width: 100%;
    height: auto;
}

.ph-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.ph-content h3{
    color: rgb(26, 39, 114);
}

#procedures-award{
    color: rgb(26, 39, 114);
}

.award-style {
    background-color: rgb(2, 59, 47);
    color: white;
    padding: 10px 110px;
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 40px;
    margin: 10px 0px;
}

.award-style-pic {
    width: 100%;
    position: relative;

}

.award-style-pic img {
    position: absolute;
    width: auto;
    height: 140%;
    top: -40px;
}

.lef-award {
    grid-template-columns: 150px 1fr !important;
    background-color: rgb(85, 10, 44);
}

.lef-award .award-style-pic img {
    height: 170%;
    

}

@media(max-width:764px) {
    .award-style {
        padding: 10px 40px;
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;
    }

    .award-style-pic {
        width: 100%;
        position: relative;

    }

    .award-style-pic img {
        position: relative;
        width: 50%;
        height: auto;
        top: 0px;
    }

    .lef-award {
        padding: 10px 40px;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .procedure{
        padding: 10px 40px !important;
    }
    .lef-award .award-style-pic img {
        position: relative;
        width: 50%;
        height: auto;
        top: 0px;

    }
}

.row-right {
    grid-template-columns: 1fr 500px;
    text-align: right;
}

@media(max-width:1012px) {
    .row-right {
        flex-direction: column-reverse;
        text-align: left;

    }
}
@media(max-width:900px){
    .ph-row {

        padding: 0px 60px;
    }
    .award-style{
        padding: 10px 60px;
    }
    .procedure{

        padding: 10px 60px;
    }
}
@media(max-width:1000px){
    .award-style{
        padding: 10px 60px;
        grid-template-columns: 1fr 250px;
    }
    .lef-award{
        grid-template-columns:200px 1fr;
    }
}
.award-list {
    list-style-type: none;
    /* Remove default bullets */
    padding-left: 20px;
    /* Optional: Adjust padding */
    line-height: 40px;
}

.award-list li {
    position: relative;
    /* Ensure we can position the diamond */
    font-weight: 500;
    font-size: 18px;
}

.award-list li::before {
    content: '';
    /* No text, just the shape */
    width: 10px;
    /* Width of the diamond */
    height: 10px;
    /* Height of the diamond */
    background-color: rgb(124, 0, 56);
    /* Color of the diamond */
    position: absolute;
    /* Position the shape */
    left: -18px;
    /* Position bullet to the left of the text */
    top: 20.5px;
    /* Center bullet vertically */
    transform: translateY(-50%) rotate(45deg);
    /* Rotate to make it diamond-shaped */
    border-radius: 2px;
    /* Optional: round the corners for a softer shape */
}
.procedure{
    align-items: start;
    text-align: left;
    padding: 10px 110px;
}
.history-head-2 {
    position: relative;
    background-color: black;
    background-image: url('./img/jouranl2.jpg');
    color: white;
    padding: 25px 30px;
    background-position: center;
    background-size: cover;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 100px;
}

.history-head-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust the 0.4 for the opacity level */
    z-index: 1; /* Make sure the overlay is on top of the image */
}

/* .history-head-2 h1 {
    color: white;
    font-weight: 800;
    margin: 0;
    line-height: 50px;
    font-size: 40px;
    animation: fadeIn 1.5s ease-in-out;
    animation-delay: 0.3s;
    position: relative;
    z-index: 2; 
} */
