body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header li{
  list-style: none;
}
header {
  background-color: white;
  padding: 10px 20px;
  height: auto;
}

.hrline {
  width: 100%;
  height: 0;
  border: 1px solid rgba(218, 218, 218, 1);
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 63.41px;
  height: 77px;
}

.company-name {
  margin: 10px;
  width: 280px;
  height: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight:900;
  font-size: 23px;
  text-transform: uppercase;
  color: #8B0000;
  line-height: 30px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  font-weight: 600;
}

.contact-info span {
  display: flex;
  align-items: center;
  font-weight: 600;
  
}
.phone img{
  margin-right:7px ;
}
.email img{
  margin-right:7px ;
}
.sep{
  position: relative;
  justify-content: center;
}
.login-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  margin-right: 50px;
  font-size: 14px;
  font-weight: 600;
}
.user-profile-icon{
  margin: 10px;
  width: 50px;
  height: 50px;
}
.user-profile-icon img{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
.user-profile-container {
  position: relative;
  display: inline-block;
}



.dropdown-menu3 {
  display: none;
  position: absolute;
  top: 50px; 
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
  border-bottom-left-radius: 10px; /* Border radius for the bottom-left of the last li */
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px; /* Border radius for the top-left of the first li */
  border-top-right-radius: 10px;
}

.dropdown-menu3 a {

  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.dropdown-menu3 a:hover {
  background-color: #f1f1f1;
}
.down{
  display: flex;
  flex-direction: row;
  font-family: "Poppins",sans-serif;
}
.down img{
  
  margin-right: 10px;
}
.login-button1 {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  margin-right: 50px;
  display: none;
  height: 30px;
  
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon img {
  width: 30px;
  height: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.navbar {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.navbar li {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  height: 50px;
  transition:background-color 0.3s ease;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
      height: 50px;
    border-radius: 7px;
}
.search-li{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.navbar a {
  text-decoration: none;
  color: #022257;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 800;
  transition: color 0.3s ease;
}

/* .navbar li::after {
  content: '';
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: black;
  transition: width 0.3s;
  border-radius: 8px;
} */

.navbar li:hover::after {
  width: 80%;
}
.navbar li:hover {
  background-color: #022257;
  transition: background-color 0.3s ease;
  


}
.search-li:hover {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
  


}
.navbar li.high {
  background-color: #022257; /* Same hover color */
}

.navbar .high .main-a{
  color: white !important; /* Or any color you want for active links */
}

.navbar li:hover .main-a {
  color: white !important;
  transition: color 0.3s ease;
}

.search-li::after{
  display: none;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 255.51px;
  height: 36.76px;
  padding-left: 15px;
  border-radius: 8px;
  background: rgba(244, 244, 244, 1);
  border: 1px solid #ccc;
  padding-right: 40px;
  font-family: "Poppins", sans-serif;
}

.search-button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button img {
  width: 16px;
  height: 16px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  top: 100%;
  z-index: 100;
  min-width: 200px; /* Set a minimum width */
  padding: 0; /* Remove extra padding */
  padding: 0px;
  border-bottom-left-radius: 10px; /* Border radius for the bottom-left of the last li */
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px; /* Border radius for the top-left of the first li */
  border-top-right-radius: 10px;
  

}

.dropdown-menu li:first-child {
  border-top-left-radius: 10px; /* Border radius for the top-left of the first li */
  border-top-right-radius: 10px; /* Border radius for the top-right of the first li */
}

.dropdown-menu li:last-child {
  border-bottom-left-radius: 10px; /* Border radius for the bottom-left of the last li */
  border-bottom-right-radius: 10px; /* Border radius for the bottom-right of the last li */
}



.dropdown-menu li {
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  border: 1px solid rgba(218, 218, 218, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px;
  border-radius: 0%;
  transition: border 0.3s ease; 


}
.dropdown-menu li:hover::after {
  width: 0%;
}
.dropdown-menu a {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: 600;
  
}

.dropdown-menu li:hover {
  background: #022257;
  border: 1px solid #022257;
  transition: border 0.3s ease,background-color 0.3s ease,transform 0.3s ease; /* Add transition for scaling */
  transform: scale(1.026);
  border-radius: 5px;
}
.dropdown-menu li:hover .main-b {
  color: white !important;
  transition: color 0.3s ease;
}
.dropdown-menu.side li:hover .main-c{
  color: white ;
  transition: color 0.3s ease;
} 
.dropdown-menu.sideB li:hover a{
  color: white ;
  transition: color 0.3s ease;
}

.side-down:hover .side {
  display: block !important;
}
.side-downB:hover .dropdown-menu {
  display: block !important;
}
.side{
  top: 0% !important;
  left: 100% !important;
  display: none !important;
  z-index: 5;
}
.sideB{
  top: 0% !important;
  left: 100% !important;
  z-index: 10 !important;
  display: none !important;
}
.nav-arrow{
  width: 100%;
  display: flex;
  flex-direction: row;
  
}
.nav-arrow img{
  width: 7px;
}
@media (max-width: 498px){
  .sep{
    margin-left: 80%;
  }
}
@media (max-width: 1040px){
  .sideB{
    top: 100% !important;
    left: 20% !important;
    background-color: aquamarine;
  }
  .dropdown-menu li:hover{
    transform:none;
  }
}
@media (max-width: 700px) {
  .menu-icon {
      display: block;
  }
  .login-button {
      display: none;
  }
  .login-button1 {
      display: block;
  }
  .side{
    top: 100% !important;
    left: 20% !important;
    background-color: #ccc;
  }
  
}

@media (max-width: 768px) {
  .top-row {
      justify-content: center;
      gap: 13px;
  }
  .contact-info {
      gap: 10px;
      justify-content: center;
  }
  .sep {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .menu-icon {
      display: block;
  }
  .navbar {
      display: none;
      flex-direction: column;
      /* align-items: center; */
      gap: 10px;
      height: 100%;
  }
  .navbar.active {
      display: flex;
  }
  .navbar li:hover::after {
    width: 0%;
  }
}

@media (min-width: 1240px) {
  .nav {
      justify-content: space-between;
  }
  .navbar {
      gap: 20px;
  }
  
  
}
@media (min-width: 1240px) and (max-width: 1340px){
  .navbar{
      height: 30px;
  }
}