{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub/galleryadd.css' %}">
{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
<main class="form-main">
    <div class="form-wrapper">
        <h2>Create New Gallery Albem</h2>
        <form id="galleryForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="Enter event title" required maxlength="50">
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea id="description" name="description" rows="5" placeholder="Enter event description"></textarea>
            </div>
            <div class="form-group">
              <label for="place">Place:</label>
              <input type="text" id="place" name="place" placeholder="Enter event location" required maxlength="50">
          </div>
            <div class="form-group">
                <label for="mainimage">Main Image:</label>
                <div class="image-upload">
                    <input type="file" id="mainimage" name="mainimage" accept="image/*" onchange="previewImage(event)">
                    <label for="mainimage" class="image-label">Choose an image</label>
                    <div id="imagePreview1" class="image-preview1" style="display: none;">
                        <img id="preview1" src="#" alt="Image Preview1" style="display: none;">
                    </div>
                    <small id="imageError" class="error-message"></small>
                </div>
            </div>
            <div class="form-group">
              <label for="images">Images:</label>
              <div class="image-upload">
                  <input type="file" id="images" name="mainimage" accept="image/*">
                  <label for="images" class="image-label">Choose images</label>
                  <div class="image-preview-container" id="imagePreviewContainer"></div><br>
              </div>
          </div>
            <div class="form-group">
                <button type="submit" class="btn-submit">Create</button>
            </div>
        </form>
    </div>
    <!-- <div class="image-section">
        <img src="{% static 'image/Frame.png' %}" alt="Login Image">
    </div> -->
</main>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/galleryadd.js' %}"></script>   
{% endblock %}


