{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/new/award.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/history.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="history-head-2 award-head-row animate">
    <h1>AWARDS</h1>
    <h2>sports psychology association of india</h2>
</div>
<div style="margin-top: 30px;" class="ph-row animate">
    <div class="ph-pic animate-z">
        <img src="{% static 'image\award\awrd.jpg' %}" alt="">
    </div>
    <div class="ph-content">
        <h3 class="animate-h3">SPAI Best Paper <br> Award at SPAI <br> Annual Conference</h3>
        <p style="margin-bottom: 0%;" class="animate">In its Annual Conference held every year, Sports Psychology Association of India
            offers Best Paper Award to
            paper presenters. A panel of experts will evaluate the paper presentation </p>
    </div>
</div>
<div class="ph-row two animate">
    <p>Young researchers are encouraged to contest for Best Paper by presenting their research work in the theme and sub
        themes announced for the national conference. The Best paper award carries a certificate of Merit from SPAI. The
        contestants for SPAI Best Paper Award should submit an abstract and full paper as per stipulated guidelines. The
        presenting author should be a contributor in the research work presented and the number of authors in case of
        contested papers should not be more than three. Candidate should inform whether his/her paper of presentation
        should be considered for the Best Paper Award. </p>
</div>
<div class="award-style animate-h3">
    <p>
        Only the first author of the paper is allowed to upload the paper for contest. Upper age limit of a candidate
        for Best Paper Award will be 40 years as on January first 01.01.2019. A relaxation of five years is allowed for
        women and SC/ST candidates.
    </p>
    <div class="award-style-pic animate-z">
        <img src="{% static 'image\award\spai_1.png' %}" alt="">
    </div>
</div>

<div class="award-style lef-award animate-h3">
    <div class="award-style-pic animate-z">
        <img src="{% static 'image\award\spai-2.png' %}" alt="">
    </div>
    <p>
        There will be a review panel constituted for scrutinising the submitted papers and deciding whether they are
        accepted and qualify for the contest/general presentation or rejected, subject to the score obtained during the
        evaluation.
    </p>

</div>
<div class="award-head-row animate">
    <p>Details regarding applying for the Best Paper Award will be notified along with the announcement of the annual
        conference. </p>
</div>
<div class="ph-row row-right animate">

    <div class="ph-content animate-h3">
        <h3>SPAI Life-time <br> Achievement Award</h3>
        <p style="margin-bottom: 0%;" class="animate">Lifetime Achievement Award is the highest and most coveted award given by Sports
            Psychology Association of India. The objective of the award is: </p>
    </div>
    <div class="ph-pic animate-z">
        <img src="{% static 'image\award\lf.jpg' %}" alt="">
    </div>
</div>
<div class="ph-row two animate">
    <ul class="award-list animate-z">
        <li>To honour outstanding Sports Psychologists who are active Life members of SPAI who have made profound and
            exceptional contributions in the field of sport psychology and thereby enriched the sub-discipline of sports
            psychology enhanced the capability and respectability of its professionals</li>
        <li>Inspire and encourage fellow professionals to emulate awardees as role models.</li>
        <li>Motivate others to strive for personal and professional growth through creditable work.</li>
        <li>Promote the continuous betterment and exaltation of the profession through significant contributions.</li>
        <li>Foster a culture of excellence and meaningful impact within the field.</li>
    </ul>
</div>
<div class="award-head-row animate-z">
    <h2 style="color: red;">The list of Life-time achievement awardees of <br> SPAI are listed below</h2>
    <div class="life">
        <p>Dr G P Thakur</p>
        <p>Dr N S Mann</p>
        <p>Dr Ajayjit Singh</p>
        <p>Dr M L Kamlesh </p>
        <p>Dr Avinash Sidhu </p>
        <p>Prof (Dr) Dillep K Dureha (2023)</p>
    </div>
</div>
<h2 id="procedures-award" style="color: rgb(1, 1, 49);text-align: center;" class="animate-h3">Procedures regarding confirmation of Life Time <br>Achievement
    Awards</h2>
<div class="award-head-row procedure animate2">

    <ul class="award-list animate-z">
        <li>The number of scholars to felicitate at a time may not exceed three a year. It is also possible for the
            Society not to give an award for a particular year.</li>
        <li>Only Life Members of SPAI who have a standing of 10 years will be eligible for the award.</li>
        <li>The Committee to be constituted by the President for selecting the awardees will include:
            <ol>
                <p style="margin:0%">1. President of SPAI</p>
                <p style="margin:0%">2. Secretary of SPAI</p>
                <p style="margin:0%">3. Patron of SPAI</p>
                <p style="margin:0%">4. Two eminent scholars who are not members of SPAI nominated by the Executive Committee</p>
            </ol>
        </li>
        <li>The award may include a citation and a memento and will be presented in the inaugural function of annual
            conference of SPAI</li>
        <li>Nominations for the award along with copies of bio-data of the nominees may be invited from SPAI members.
        </li>
        <li>The scholar has to be nominated by at least three sitting members of the EC.</li>
        <li>Since it is a lifetime achievement award, hence it is linked with age, i.e. the scholar must have attained
            60 years of age.</li>
        <li>A scholar to be selected for this award should be an eminent senior scholar with undisputable reputation
            and who has contributed significantly to the sub-discipline of sports psychology and contributed to
            professional activity in India. The nominated person must have contributed to the body of literature in
            sports psychology, conducting research and effective practitioner in the field. There must be sufficient
            proof of such contribution. </li>
        <li>The decision of the committee should be approved by the managing committee.</li>
        

    </ul>
</div>
<div class="award-head-row animate-h3">
    <h3>SPAI - Young Scientist Award </h3>
    <p>To be announced shortly</p>
</div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/history.js' %}"></script>
{% endblock %}