{% extends 'main.html' %}
{% load static %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
<div class="hero">
    <div class="hero-pic">
        <img class="full-width-img" src="{% static 'images/football.jpg' %}" alt="Image 1">
        <img class="full-width-img" src="{% static 'images/run.jpg' %}" alt="Image 2">
        <img class="full-width-img" src="{% static 'images/run2.jpg' %}" alt="Image 3">
    </div>
    <div class="hero-texts">
        <div class="hero-text active">
            <p>Welcome to SPAI</p>
            <!-- <p>SPORTS PSYCHOLOGY ASSOCIATION OF INDIA</p> -->
        </div>
        <div class="hero-text">
            <p>Explore Our History</p>
        </div>
        <div class="hero-text">
            <p>Join Our Community</p>
        </div>
    </div>
    <div class="hero-controls">
        <button class="prev" onclick="prevImage()">‹</button>
        <button class="next" onclick="nextImage()">›</button>
    </div>
</div>
<h1>News And Events</h1>
<div class="container">
    <div class="column">
        <h2>News</h2>
        <div class="event-card">
            <div class="event-date past-event">
                <span class="event-day">30</span>
                <span class="event-month">June</span>
            </div>
            <div class="event-details">
                <h2 class="event-title">Past Event Title</h2>
                <p class="event-time">Time: 2:00 PM - 4:00 PM</p>
                <p class="event-location">Location: Downtown, NYC</p>
            </div>
        </div>
        <div class="event-card">
            <div class="event-date past-event">
                <span class="event-day">30</span>
                <span class="event-month">June</span>
            </div>
            <div class="event-details">
                <h2 class="event-title">Past Event Title</h2>
                <p class="event-time">Time: 2:00 PM - 4:00 PM</p>
                <p class="event-location">Location: Downtown, NYC</p>
            </div>
        </div>
        <div class="event-card">
            <div class="event-date past-event">
                <span class="event-day">30</span>
                <span class="event-month">June</span>
            </div>
            <div class="event-details">
                <h2 class="event-title">Past Event Title</h2>
                <p class="event-time">Time: 2:00 PM - 4:00 PM</p>
                <p class="event-location">Location: Downtown, NYC</p>
            </div>
        </div>
        <div class="event-card">
            <div class="event-date past-event">
                <span class="event-day">30</span>
                <span class="event-month">June</span>
            </div>
            <div class="event-details">
                <h2 class="event-title">Past Event Title</h2>
                <p class="event-time">Time: 2:00 PM - 4:00 PM</p>
                <p class="event-location">Location: Downtown, NYC</p>
            </div>
        </div>
        <!-- Add more past event cards here -->
        <a href="upcoming-events.html" class="read-more">Read more</a>         
    </div>
    <div class="column">
        <h2>Upcoming Events</h2>
        <div class="event-card">
            <div class="event-date">
                <span class="event-day">01</span>
                <span class="event-month">July</span>
            </div>
            <div class="event-details">
                <h2 class="event-title">Upcoming Event Title</h2>
                <p class="event-time">Time: 10:00 AM - 12:00 PM</p>
                <p class="event-location">Location: Central Park, NYC</p>
            </div>
        </div>
        <div class="event-card">
            <div class="event-date">
                <span class="event-day">01</span>
                <span class="event-month">July</span>
            </div>
            <div class="event-details">
                <h2 class="event-title">Upcoming Event Title</h2>
                <p class="event-time">Time: 10:00 AM - 12:00 PM</p>
                <p class="event-location">Location: Central Park, NYC</p>
            </div>
        </div>
        <div class="event-card">
            <div class="event-date">
                <span class="event-day">01</span>
                <span class="event-month">July</span>
            </div>
            <div class="event-details">
                <h2 class="event-title">Upcoming Event Title</h2>
                <p class="event-time">Time: 10:00 AM - 12:00 PM</p>
                <p class="event-location">Location: Central Park, NYC</p>
            </div>
        </div>
        <div class="event-card">
            <div class="event-date">
                <span class="event-day">01</span>
                <span class="event-month">July</span>
            </div>
            <div class="event-details">
                <h2 class="event-title">Upcoming Event Title</h2>
                <p class="event-time">Time: 10:00 AM - 12:00 PM</p>
                <p class="event-location">Location: Central Park, NYC</p>
            </div>
        </div>
        <!-- Add more upcoming event cards here -->
        <a href="upcoming-events.html" class="read-more">Read more</a>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}



{% block footer %}
{% include 'footer.html' %}
{% endblock %}
