{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
<link rel="stylesheet" href="{% static 'css/new/webinar.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="about-container mission">
    <div class="mission-top-row">
        <h1 style="text-transform: uppercase;">UPCOMING ANNUAL CONFERENCE</h1>
    </div>
    <div class="web-wrapper">
        {% for e in events %}
        <div class="web-item">
            <div class="web-img">
                <img src="{{e.image.url}}" alt="">
            </div>
            <div class="web-content">
                <h2>{{e.title}}</h2>
                <h3>{{e.location}}</h3>
                <div class="web-button-wrapper">
                    <div class="web-date">
                        <p>{{ e.datetime|date:"F j" }} - {{ e.end_date|date:"F j, Y" }}</p>
                    </div>
                    <div class="web-buttons">
                        <a target="_blank" href="{{e.registration_link}}">Register</a>
                        <a href="{% url 'news_detail' e.pk %}">More details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    

</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}