{% extends 'main.html' %}
{% load static %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
<h1 style="color: transparent;">.</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ frm.as_p }}
    <input type="submit" value="Add">
</form>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.menu-icon').addEventListener('click', function() {
            document.querySelector('.navbar').classList.toggle('active');
        });
    });
</script> 
    {% endblock %}