@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* Reset default browser styles */
body, html {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  /* font-family: Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #f0f0f0; /* Light gray background */
}

.container {
  width: 80%;
  margin: 0 auto; /* Center the content */
}

/* Header styles */
.head {
  background-color: rgba(44, 114, 145, 0.9); /* Dark background color for header */
  color: #fff; /* White text color */
  padding: 10px 0;
  height: 50px;
}

.head .logo {
  float: left;
  padding: 0 20px;
}
.head .logo img{
  max-width: 50px;
}

.head .logo p {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.head .nav {
  float: right;
}

/* Navigation styles */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

.navbar ul li a {
  color: #fff; /* White text color for links */
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Darker background color on hover */
}

.navbar ul li a.active {
  background-color: rgba(255, 255, 255, 0.2); /* Darker background color for active link */
}


.dropdown ul {
  display: none; /* Hide dropdown menus by default */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(44, 114, 145); /* Background color for dropdown menu */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown:hover ul, .dropdown.active ul {
  display: block; /* Show dropdown menu on hover or if the parent is active */
}

.dropdown ul li {
  display: block;
  margin: 0;
}

.dropdown ul li a {
  padding: 10px 20px; /* Padding for dropdown items */
  white-space: nowrap; /* Prevent text wrapping */
}

.dropdown ul li a:hover, .dropdown ul li a.active {
  background-color: rgba(255, 255, 255, 0.2); /* Darker background color on hover and for active items */
}

.dropdown ul .dropdown {
  position: relative;
}

.dropdown ul .dropdown ul {
  left: 100%;
  top: 0;
  display: none;
}

.dropdown ul .dropdown:hover ul, .dropdown ul .dropdown.active ul {
  display: block;
}


/* Main content styles */
main {
  padding: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: rgba(44, 114, 145, 0.9); /* Dark background color for footer */
  color: #fff; /* White text color */
  padding: 20px 0;
  text-align: center;
}

.footer .inner-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo img {
  max-width: 100px; /* Adjust as needed */
}

.footer-links ul,
.footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li,
.footer-social ul li {
  display: inline-block;
  margin: 0 10px;
}

.footer-social ul li a {
  color: #fff;
  font-size: 1.5em;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8em;
}

.full-width-img {
  width: 100vw; /* Full width of the viewport */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0;
}


/* Mobile navigation toggle */
.mobile-nav-toggle {
  display: none; /* Hide by default */
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* Styles for mobile screens */
  .head .nav {
      float: none; /* Center the mobile toggle */
      text-align: center;
  }

  .navbar ul {
      display: none; /* Hide the menu items by default */
      background-color: #333; /* Dark background color */
      width: 100%;
      position: absolute;
      top: 60px; /* Height of the header */
      left: 0;
      z-index: 1000; /* Ensure it's above other content */
  }

  .navbar ul li {
      display: block;
      text-align: center;
      margin: 0;
  }

  .navbar ul li a {
      display: block;
      padding: 10px 0;
      
  }

  .mobile-nav-toggle {
      display: block; /* Show the toggle button */
      position: absolute;
      top: 20px;
      right: 20px;
  }

  /* Toggle the menu visibility when the toggle button is clicked */
  .navbar ul.show {
      display: block;
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  position: relative;
  bottom: 45px;
}


.gallery-item {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.1);
}


.add-image-btn {
  margin-left: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #0a9c0f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  float: right;
  margin-right: 20px;
  text-align: right;
}

.add-image-btn:hover {
  background-color: #0fbd15;
  transition: .4s;
    transform: scale(1.05);
}

.gallery-item {
  position: relative; /* add this to position the delete button absolutely */
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(231, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-button:hover {
  background-color: rgb(156, 1, 1);
}

.delete-button button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #f0f0f0;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 12px;
  cursor: pointer;
}

.gallery-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-title {
  font-size: 35px;
  flex: 1;
  display: grid;
  place-items: center;
  
}


/* User registration form */
.input_area{
  padding: 7px;
}

input::placeholder, #state{
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.image-container {
  width: 40%;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.form-container {
  width: 60%;
  padding: 25px;
  background-color: #f7f7f7;
  border: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input_area {
  width: 48%;
  margin-right: 20px;
}

.input_area input[type="email"],
.input_area input[type="text"],
.input_area input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  
}

.input_area input[type="email"]:focus,
.input_area input[type="text"]:focus,
.input_area input[type="password"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input_area input[type="email"]:hover,
.input_area input[type="text"]:hover,
.input_area input[type="password"]:hover {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input_area select {
  width: 204%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input_area select:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.user-create-button {
  width: 204%;
  padding: 15px;
  background-color: rgba(44, 114, 145);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.user-create-button:hover {
  background-color: rgb(24, 88, 116);
  transition: 0.5s;
  transform: scale(1.03);
}
.user-create-button:not(:hover) {
  transform: scale(1); 
  transition: 0.3s; 
}

h1{
  display: flex;
  justify-content: center;
}


/* Animation for the registration form */
.form-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.form-container.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Animation for the image */
.image-container img {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s, transform 0.5s;
}

.image-container img.animate {
  opacity: 1;
  transform: scale(1);
}

/* Animation for the h1 element */
h1 {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s, transform 0.5s;
}

h1.animate {
  opacity: 1;
  transform: translateY(0);
}