@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* Reset default browser styles */
body, html {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  /* font-family: Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #f0f0f0; /* Light gray background */
}

.container {
  width: 80%;
  margin: 0 auto; /* Center the content */
}

/* Header styles */
.head {
  background-color: rgba(44, 114, 145, 0.9); /* Dark background color for header */
  color: #fff; /* White text color */
  padding: 10px 0;
  height: 50px;
}

.head .logo {
  float: left;
  padding: 0 20px;
}
.head .logo img{
  max-width: 50px;
}

.head .logo p {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.head .nav {
  float: right;
}

/* Navigation styles */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin-left: 20px;
}

.navbar ul li a {
  color: #fff; /* White text color for links */
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Darker background color on hover */
}

.navbar ul li a.active {
  background-color: rgba(255, 255, 255, 0.2); /* Darker background color for active link */
}

/* Main content styles */
main {
  padding: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: rgba(44, 114, 145, 0.9); /* Dark background color for footer */
  color: #fff; /* White text color */
  padding: 20px 0;
  text-align: center;
}

.footer .inner-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo img {
  max-width: 100px; /* Adjust as needed */
}

.footer-links ul,
.footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li,
.footer-social ul li {
  display: inline-block;
  margin: 0 10px;
}

.footer-social ul li a {
  color: #fff;
  font-size: 1.5em;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8em;
}

.full-width-img {
  width: 100vw; /* Full width of the viewport */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0;
}


/* Mobile navigation toggle */
.mobile-nav-toggle {
  display: none; /* Hide by default */
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* Styles for mobile screens */
  .head .nav {
      float: none; /* Center the mobile toggle */
      text-align: center;
  }

  .navbar ul {
      display: none; /* Hide the menu items by default */
      background-color: #333; /* Dark background color */
      width: 100%;
      position: absolute;
      top: 60px; /* Height of the header */
      left: 0;
      z-index: 1000; /* Ensure it's above other content */
  }

  .navbar ul li {
      display: block;
      text-align: center;
      margin: 0;
  }

  .navbar ul li a {
      display: block;
      padding: 10px 0;
      
  }

  .mobile-nav-toggle {
      display: block; /* Show the toggle button */
      position: absolute;
      top: 20px;
      right: 20px;
  }

  /* Toggle the menu visibility when the toggle button is clicked */
  .navbar ul.show {
      display: block;
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  position: relative;
  bottom: 45px;
}


.gallery-item {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.1);
}


.add-image-btn {
  margin-left: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #0a9c0f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  float: right;
  margin-right: 20px;
  text-align: right;
}

.add-image-btn:hover {
  background-color: #0fbd15;
  transition: .4s;
    transform: scale(1.05);
}

.gallery-item {
  position: relative; /* add this to position the delete button absolutely */
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(231, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-button:hover {
  background-color: rgb(156, 1, 1);
}

.delete-button button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #f0f0f0;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 12px;
  cursor: pointer;
}

.gallery-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-title {
  font-size: 35px;
  flex: 1;
  display: grid;
  place-items: center;
  
}

