.news-details{
  padding: 20px 60px;
  background-image: url('./running-2-bg.png');
  background-color: #fcfafa;
  background-repeat: repeat;
}
.news-head2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scaleUp 1.5s ease-in-out;
}
.detail-content{
  display: grid;
  grid-template-columns: 1fr 400px;
}
.news-detail-img{
  animation: scaleUp 1.5s ease-in-out;
  animation-delay: 0.3s;
  width: 100%;
  height: auto;
  position: relative;
}
.news-detail-img img{
  width: 100%;
  height: auto;
  border-radius: 30px;
}
.news-container{
  background-color: white;
  margin: 0% !important;
}
.related{
  display: flex;
  animation: scaleUp 1.5s ease-in-out;
  animation-delay: 0.5s;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.news-new-detail{
  padding: 8px 20px;
  opacity: 1;
  z-index: 1;
  position: absolute;
  width: auto;
  height: auto;
  top: 30px;
  left: 30px;
  gap: 0px;
  border-radius: 61px;
  background: rgb(224, 129, 5);
  font-family: "Poppins",sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 1);

}
.news-new-detail img{
  margin-left: 5px;
  width: 10px !important;
  height: 10px !important;
}
.news-tit{
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}
.rel{
  margin-top: 40px;
  display: none;
}
@media (max-width: 1030px){
  .detail-content{
    display: flex !important;
    flex-direction: column !important;
    
  }
  .rel{
    display: block;
  }
  .related{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 500px){
  .news-details{
    padding: 20px 30px;
  }
  .news-new-detail{
    top: 15px;
    left: 15px;
  }
  .news-tit{
    font-size: 24px;
    font-weight: 400;
  }
}
@keyframes scaleUp {
  from {
      transform: scale(0.9);
      opacity: 0;
  }

  to {
      transform: scale(1);
      opacity: 1;
  }
}
.pdf-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.pdf{
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 20px 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3 ease;
}
.pdf:hover{
  background-color: rgb(18, 18, 192);
  transform: scale(1.02);
}
@media (max-width: 750px){
  .pdf-wrapper{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px){
  .pdf-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
}