
/***********************************************/

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow-x: hidden;
  /* background-image: url('./img/mission-image.jpg'); */
  background-image: url('./running-2-bg.png');
}

.payment-head {
  animation: scaleUp 1.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.payment-container {
  animation: scaleUp 1.5s ease-in-out;
  width: 100%;
  max-width: 934px;
  padding: 30px 27px 30px 27px;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #D0D0D0;
  background: #FFFFFF;
  margin: 10px;
  box-sizing: border-box;
}

.payment-container h3 {
  animation: scaleUp 1.5s ease-in-out;
  animation-delay: 0.1s;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 0%;
  margin-bottom: 0%;

}

.payment-container h4 {
  animation: scaleUp 1.5s ease-in-out;
  animation-delay: 0.2s;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #696969;


}

.payment-instructions {
  animation: scaleUp 1.5s ease-in-out;
  animation-delay: 0.3s;
  width: 100%;
  padding: 17px 20px 17px 20px;
  gap: 10px;
  border-radius: 16px;
  opacity: 0px;
  background: #022257;
  box-sizing: border-box;


}

.payment-instructions h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0%;
  color: white;
}
.payment-instructions h4{
  color: white;
}
.acc_details {
  margin-top: 20px;
  width: 100%;
  padding: 23px 21px 23px 21px;
  gap: 10px;
  border-radius: 16px;
  border: 1px;
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
}

.acc_line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D0D0D0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.acc_line h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0%;
  color: #424242;
}

.acc_line h6 {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0%;
  color: #424242;
}

.payment-inputs {
  margin-top: 40px;
}

.payment-inputs h4 {

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0%;

}

.payment-inputs h6 {
  margin: 0%;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 10px;

}

.payment-inputs input {
  width: 100%;
  /* Input fields stretch to fill their container */
  padding: 8px;
  margin-top: 5px;
  font-family: "Poppins",sans-serif;
  gap: 0px;
  border-radius: 12px;
  border: 1px;
  border: 1px solid #D0D0D0;

  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;


}
.payment-submit{
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-inputs input[type="submit"] {
  display: flex;
  margin-top: 20px;
  width: 300px;
  font-family: "Poppins",sans-serif;
  border-radius: 16px;
  opacity: 0px;
  background: #18181B;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  border: 0px;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}
.payment-inputs input[type="submit"]:hover{
  background-color: #0056b3;
  transform: scale(1.02); 
}
.payment-addresses{
  display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px;
}
.payment-address b{
  color: #18181B;
}
.payment-address{

padding: 30px 28px 30px 28px;

border-radius: 16px;
border: 1px solid #D0D0D0;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

color: #6F6F6F;


}
@media (max-width: 550px){
  .payment-addresses{
      grid-template-columns: repeat(1, 1fr); 
      grid-gap: 20px;
  }
}
/*****animation***********************/
/* Keyframes for fade-in effect */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Keyframes for text slide-in */
@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(-100%);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

/* Keyframes for slight scaling */
@keyframes scaleUp {
  from {
      transform: scale(0.9);
      opacity: 0;
  }

  to {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
      transform: scale(0.8);
      opacity: 0;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes glow {
  0% {
      box-shadow: 0 0 5px #ff0;
  }

  50% {
      box-shadow: 0 0 20px #ff0;
  }

  100% {
      box-shadow: 0 0 5px #ff0;
  }
}