{% extends 'main.html' %}
{% load static %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
<section id="about" class="about">
    <div class="container">

      <div class="row no-gutters">
        <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
          <div class="content">
            <h3>About us</h3>
            <p>
              Developing nations like India which is striving toward high performance in sports and look towards meeting the international standards in performance is deficient on the factors of scientific support and technical advancement which has become the asset for developed nations. To bridge the gap, Sports Psychology association of India, a government recognized association registered under the registered act of society is striving to contribute towards developing gra.
            </p>
            <a href="#" class="about-btn">About us <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
        <div class="col-xl-7 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>part 1</h4>
                <p>Discription about current page</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>part 2</h4>
                <p>Discription about current page</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-images"></i>
                <h4>part 3</h4>
                <p>Discription about current page</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-shield"></i>
                <h4>part 4</h4>
                <p>Discription about current page</p>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section>
  <script>
    window.onload = function() {
        // Scroll to x = 0, y = 500 pixels
        window.scrollTo(0, 115);
    };
</script>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}