{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
<h1 style="color: transparent;">.</h1>
<div class="gallery-header">
    <h2 class="gallery-title">Gallery</h2>
    {{request.user.email}}
    {% if request.user.user_role == 1 %}
    <a href="{% url 'add_image_template' %}">
        <button class="add-image-btn">Add New Image</button>
    </a>
{% endif %}
    
</div>

<div class="gallery">
    {% for obj in gallery_objects %}
        <div class="gallery-item">
            <img src="{{ obj.image.url }}" alt="{{ obj.image_alt }}">
            {% if request.user.user_role == 1 %}
            <a href="{%url 'galleryimagedelete' obj.id %}" class="delete-button">
                <button>Delete</button> 
            </a>
            {% endif %}
        </div>
    {% endfor %}

</div>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.menu-icon').addEventListener('click', function() {
            document.querySelector('.navbar').classList.toggle('active');
        });
    });
</script> 
    {% endblock %}