{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/news.css' %}">
{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
<div class="news">
    <div class="news-title">
        <img class="bg-running" src="{% static 'image/running-2-bg.png' %}" alt="">
        <p>Gallery</p>
        {% if request.user.is_superuser %}
        <a href="{% url 'gallery_create' %}">
            <div class="news-add">
                ADD Albem
            </div>
        </a>
        {% endif %}
    </div>
    <div class="news-containers">
        {% for images in galleries %}
        <a style="text-decoration: none; color: inherit;" href="{% url 'gallery_detail' images.id %}">
        <div class="news-container" style="height: 300px;">
            <div class="news-img">
                <div class="news-new">
                    {{ images.upload_date|date:"d" }} {{ images.upload_date|date:"F" }}
                </div>
                <img src="{{ images.image.url }}" alt="">
                {% if request.user.is_superuser %}
                <a href="{% url 'gallery_delete' images.id %}">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                {% endif %}
            </div>
            <div class="news-dis">
                {{ images.upload_date }}
            </div>
            <div class="news-head">
                {{ images.image_name }}
            </div>
            <!-- <a style="text-decoration: none; color: inherit;" href="{% url 'gallery_detail' images.id %}">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a> -->
        </div>
    </a>
        {% endfor %}
    </div>
    <div style="display: flex; justify-content: center;width: 100%;">
        <a style="text-decoration: none; color: inherit;" href="">
            <div class="news-seemore">
                <div class="seemoretext">
                    1
                </div>
            </div>
        </a>
        <a style="text-decoration: none; color: inherit;" href="">
            <div class="news-seemore">
                <div class="seemoretext">
                    2
                </div>
            </div>
        </a>
        <a style="text-decoration: none; color: inherit;" href="">
            <div class="news-seemore">
                <div class="seemoretext">
                    >>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.menu-icon').addEventListener('click', function() {
            document.querySelector('.navbar').classList.toggle('active');
        });
    });
</script> 
    {% endblock %}