{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/gallery_detail.css' %}">
{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
<div class="gallery-head">
    <h1>{{ gallery.image_name }}</h1>
    {% if gallery.description %}
    <p style="margin: 0%;">{{ gallery.description }} (Location:{{ gallery.place }})</p>
    {% endif %}
</div>
<div class="gallery">
    {% for img in images %}
        <div class="gallery-item">
            <img src="{{ img.images.url }}" alt="{{ img.caption }}" onclick="openLightbox('{{ img.images.url }}')">
            {% if request.user.user_role == 1 %}
            <a class="news-delete" href="{% url 'delete_gallery_image' img.id %}">delete</a>
            {% endif %}
        </div>
    {% endfor %}

    <!-- File Input for Adding a New Gallery Image -->
    {% if request.user.user_role == 1 %}
    <div class="gallery-item upload-item">
        <form method="POST" enctype="multipart/form-data" action="{% url 'add_gallery_image' gallery.id %}">
            {% csrf_token %}
            <label for="image-upload" class="upload-label">
                <span>+</span>
            </label>
            <input id="image-upload" type="file" name="image" accept="image/*" onchange="this.form.submit()" class="upload-input">
        </form>
    </div>
    {% endif %}
</div>

<!-- Lightbox structure -->
<div id="lightbox" class="lightbox">
    <span class="close" onclick="closeLightbox()">&times;</span>
    <img class="lightbox-content" id="lightboxImage">
</div>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script>
    function openLightbox(src) {
        var lightbox = document.getElementById("lightbox");
        var lightboxImage = document.getElementById("lightboxImage");
        lightboxImage.src = src;
        lightbox.style.display = "block";
    }

    function closeLightbox() {
        var lightbox = document.getElementById("lightbox");
        lightbox.style.display = "none";
    }
</script>
{% endblock %}
