{% extends 'main.html' %}
{% load static %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block content %}
<h1 style="margin-top: 50px;">User login</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>
{% if form.errors %}
    <ul>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}