{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub/news.css' %}">
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="news">
    <div class="news-title">
        <img class="bg-running" src="{% static 'image/running-2-bg.png' %}" alt="">
        <p>News & Events</p>
        {% if request.user.user_role == 1 %}
        <a href="{% url 'eventadd' %}">
            <div class="news-add">
                ADD NEWS
            </div>
        </a>
        {% endif %}
    </div>
    <div class="news-containers">
        {% for event in event_object %}
        <div class="news-container">
            <div class="news-img">
                <div class="news-new">{{ event.datetime|date:"d" }} {{ event.datetime|date:"F" }}</div>
                <img src="{{ event.image.url }}" alt="">
                {% if request.user.user_role == 1 %}
                <a class="delete-link" href="{% url 'event_delete' event.id %}">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                {% endif %}
            </div>
            <div class="news-dis">
                {{ event.datetime }}
            </div>
            <div class="news-head" style="text-transform: uppercase;">
                {{ event.title }}
            </div>
            <a style="text-decoration: none; color: inherit;" href="">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a>
        </div>
        {% endfor %}
        <div class="news-container">
            <div class="news-img">
                <div class="news-new">NEW</div>
                <img src="{% static 'image/news1.png' %}" alt="">
                <a href="">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                
            </div>
            <div class="news-dis">
                2 Days Ago
            </div>
            <div class="news-head">
                GOOD REASONS TEENAGERS SHOULD PLAY SPORTS
            </div>
            <a style="text-decoration: none; color: inherit;" href="">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="news-container">
            <div class="news-img">
                <div class="news-new">NEW</div>
                <img src="{% static 'image/news-4.png' %}" alt="">
                <a href="">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                
            </div>
            <div class="news-dis">
                2 Days Ago
            </div>
            <div class="news-head">
                GOOD REASONS TEENAGERS SHOULD PLAY SPORTS
            </div>
            <a style="text-decoration: none; color: inherit;" href="">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="news-container">
            <div class="news-img">
                <div class="news-new">NEW</div>
                <img src="{% static 'image/news-5.png' %}" alt="">
                <a href="">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                
            </div>
            <div class="news-dis">
                2 Days Ago
            </div>
            <div class="news-head">
                GOOD REASONS TEENAGERS SHOULD PLAY SPORTS
            </div>
            <a style="text-decoration: none; color: inherit;" href="">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="news-container">
            <div class="news-img">
                <div class="news-new">NEW</div>
                <img src="{% static 'image/news-6.png' %}" alt="">
                <a href="">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                
            </div>
            <div class="news-dis">
                2 Days Ago
            </div>
            <div class="news-head">
                GOOD REASONS TEENAGERS SHOULD PLAY SPORTS
            </div>
            <a style="text-decoration: none; color: inherit;" href="">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="news-container">
            <div class="news-img">
                <div class="news-new">NEW</div>
                <img src="{% static 'image/news-7.png' %}" alt="">
                <a href="">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                
            </div>
            <div class="news-dis">
                2 Days Ago
            </div>
            <div class="news-head">
                GOOD REASONS TEENAGERS SHOULD PLAY SPORTS
            </div>
            <a style="text-decoration: none; color: inherit;" href="">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="news-container">
            <div class="news-img">
                <div class="news-new">NEW</div>
                <img src="{% static 'image/news-8.png' %}" alt="">
                <a href="">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                
            </div>
            <div class="news-dis">
                2 Days Ago
            </div>
            <div class="news-head">
                GOOD REASONS TEENAGERS SHOULD PLAY SPORTS
            </div>
            <a style="text-decoration: none; color: inherit;" href="">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="news-container">
            <div class="news-img">
                <div class="news-new">NEW</div>
                <img src="{% static 'image/news-9.png' %}" alt="">
                <a href="">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                
            </div>
            <div class="news-dis">
                2 Days Ago
            </div>
            <div class="news-head">
                GOOD REASONS TEENAGERS SHOULD PLAY SPORTS
            </div>
            <a style="text-decoration: none; color: inherit;" href="">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="news-container">
            <div class="news-img">
                <div class="news-new">NEW</div>
                <img src="{% static 'image/news-10.png' %}" alt="">
                <a href="">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                
            </div>
            <div class="news-dis">
                2 Days Ago
            </div>
            <div class="news-head">
                GOOD REASONS TEENAGERS SHOULD PLAY SPORTS
            </div>
            <a style="text-decoration: none; color: inherit;" href="">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="news-container">
            <div class="news-img">
                <div class="news-new">NEW</div>
                <img src="{% static 'image/news-11.png' %}" alt="">
                <a href="">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                
            </div>
            <div class="news-dis">
                2 Days Ago
            </div>
            <div class="news-head">
                GOOD REASONS TEENAGERS SHOULD PLAY SPORTS
            </div>
            <a style="text-decoration: none; color: inherit;" href="">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a>
        </div>
    </div>
    <div style="display: flex; justify-content: center;width: 100%;">
        <a style="text-decoration: none; color: inherit;" href="">
            <div class="news-seemore">
                <div class="seemoretext">
                    1
                </div>
            </div>
        </a>
        <a style="text-decoration: none; color: inherit;" href="">
            <div class="news-seemore">
                <div class="seemoretext">
                    2
                </div>
            </div>
        </a>
        <a style="text-decoration: none; color: inherit;" href="">
            <div class="news-seemore">
                <div class="seemoretext">
                    >>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteLinks = document.querySelectorAll('.delete-link');
        
        deleteLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const url = this.getAttribute('data-url');
                if (confirm('Do you want to delete this item?')) {
                    window.location.href = url;
                }
            });
        });
    });
    
</script> -->
{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>  
    {% endblock %}