{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub/news.css' %}">
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="news">
    <div class="news-title">
        <img class="bg-running" src="{% static 'image/running-2-bg.png' %}" alt="">
        <p>News & Events</p>
        {% if request.user.user_role == 1 %}
        <a href="{% url 'eventadd' %}">
            <div class="news-add">
                ADD NEWS
            </div>
        </a>
        {% endif %}
    </div>
    <div class="news-containers">
        {% for event in page_obj %}
        <div class="news-container">
            <div class="news-img">
                <div class="news-new">{{ event.datetime|date:"d" }} {{ event.datetime|date:"F" }}</div>
                <img src="{{ event.image.url }}" alt="">
                {% if request.user.user_role == 1 %}
                <a class="delete-link" href="{% url 'event_delete' event.id %}">
                    <div class="news-delete">
                        <img src="{% static 'image/delete-icon.svg' %}" alt="">
                    </div>
                </a>
                {% endif %}
            </div>
            <div class="news-dis">
                {{ event.datetime }}
            </div>
            <div class="news-head" style="text-transform: uppercase;">
                {{ event.title }}
            </div>
            <a style="text-decoration: none; color: inherit;" href="">
                <div class="news-read">
                    <p>Read</p>
                    <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                    <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div style="display: flex; justify-content: center;width: 100%;">
        {% if page_obj.has_previous %}
        <!-- <a style="text-decoration: none; color: inherit;" href="?page=1">
            <div class="news-seemore">
                <div class="seemoretext">&laquo;</div>
            </div>
        </a> -->
        <a style="text-decoration: none; color: inherit;" href="?page={{ page_obj.previous_page_number }}">
            <div class="news-seemore">
                <div class="seemoretext">&lt;</div>
            </div>
        </a>
        {% endif %}
    
        {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
            <a style="text-decoration: none; color: inherit;" href="?page={{ page_num }}">
                <div class="news-seemore">
                    <div class="seemoretext" style="font-weight: bold;">{{ page_num }}</div>
                </div>
            </a>
            {% else %}
            <a style="text-decoration: none; color: inherit;" href="?page={{ page_num }}">
                <div class="news-seemore">
                    <div class="seemoretext">{{ page_num }}</div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
        <a style="text-decoration: none; color: inherit;" href="?page={{ page_obj.next_page_number }}">
            <div class="news-seemore">
                <div class="seemoretext">&gt;</div>
            </div>
        </a>
        <!-- <a style="text-decoration: none; color: inherit;" href="?page={{ page_obj.paginator.num_pages }}">
            <div class="news-seemore">
                <div class="seemoretext">&raquo;</div>
            </div>
        </a> -->
        {% endif %}
    </div>
    
</div>
<!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteLinks = document.querySelectorAll('.delete-link');
        
        deleteLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const url = this.getAttribute('data-url');
                if (confirm('Do you want to delete this item?')) {
                    window.location.href = url;
                }
            });
        });
    });
    
</script> -->
{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>  
    {% endblock %}