{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
<link rel="stylesheet" href="{% static 'css/new/webinar.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="about-container mission">
    <div class="mission-top-row">
        <h1 style="text-transform: uppercase;">upcoming online Webinars</h1>    
    </div>
    <div class="web-wrapper">
        <div class="web-item">
            <div class="web-img">
                <img src="{% static 'image/hist7.jpg' %}" alt="">
            </div>
            <div class="web-content">
                <h2>Event name</h2>
                <h3>Event Location</h3>
                <div class="web-button-wrapper">
                    <div class="web-date">
                        <p>Start date</p>
                        <p>End Date</p>
                    </div>
                    <div class="web-buttons">
                        <a href="#">Register</a>
                        <a href="">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="web-item">
            <div class="web-img">
                <img src="{% static 'image/hist5.jpg' %}" alt="">
            </div>
            <div class="web-content">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quas dolorem porro nobis ipsum a asperi</h2>
                <h3>Event Location</h3>
                <div class="web-button-wrapper">
                    <div class="web-date">
                        <p>Start date</p>
                        <p>End Date</p>
                    </div>
                    <div class="web-buttons">
                        <a href="#">Register</a>
                        <a href="">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="web-item">
            <div class="web-img">
                <img src="{% static 'image/hist6.jpg' %}" alt="">
            </div>
            <div class="web-content">
                <h2>Event name</h2>
                <h3>Event Location</h3>
                <div class="web-button-wrapper">
                    <div class="web-date">
                        <p>Start date</p>
                        <p>End Date</p>
                    </div>
                    <div class="web-buttons">
                        <a href="#">Register</a>
                        <a href="">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}