{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content2.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-pic">
        
        <!-- <img class="full-width-img" src="{% static 'image/about1.0.png' %}" alt="Image 2"> -->
        <img class="full-width-img" src="{% static 'image/about_jump.jpeg' %}" alt="Image 2">
        <img src="{% static 'image/javalin.png' %}" alt="" class="about2 on">
        <img src="{% static 'image/javalin.png' %}" alt="" class="about2 of">

    </div>
    <div class="about-h-texts">
        <img src="{% static 'image/about3.png' %}" alt="">
        <h6>spai</h6>
        <h2>MEMBERSHIP <br>
            PRIVILEGES</h2>
    </div>
</div>
<div class="about-container mission">
    <div class="mission-top-row">
        <h1 style="margin-bottom: 0%;">SPAI MEMBERSHIP PRIVILEGES</h1>
    </div>
    <div style="line-height: 35px;" class="mission-vission">
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
                <div class="mission-icon">
                    <img class="pic-on" src="{% static 'image/swim1.svg' %}" alt="">
                    <img class="pic-off" src="{% static 'image/swim2.svg' %}" alt="">
                </div>
                <h3 style="margin-left: 10px;">PRIVILEGES</h3>
            </div>
            <!-- <p style="text-indent: 0%;margin-top: 0%;margin-bottom: 0%;"> -->
                <i style="font-size: 16px;">The Sports
                    psychology Association of India (SPAI) offers numerous privileges
                    to its members, which are designed to enhance the growth of sports psychology and provide critical
                    support for athletes and professionals in the field. Membership privileges are: </i>
            <!-- </p> -->
            <!-- <ol class="animated-list1">
                <li><b>Professional Networking:</b> Sports Psychology Association of India provides opportunities for
                    members to connect with national and international professionals in sports psychology, through
                    affiliations with organizations like the International Society of Sports Psychology and Asian
                    South-Pacific Association of Sports psychology.</li>
                <li><b>Access to research and resources:</b> Sports Psychology Association of India offers members
                    access to the latest research in sports psychology, including journals and publications. Members
                    also get the opportunity to publish their own work in SPAI journal, contributing to the academic
                    body of sports psychology knowledge in India.</li>
                <li><b>Training and educations:</b> Sports Psychology actively promote sports psychology education in
                    India by supporting the creation of certified sports psychologists. Members can benefit from these
                    initiatives by gaining access to specialized training and certification courses. </li>
                <li><b>Awards and Recognition:</b> Sports Psychology Association of India acknowledges the contributions
                    of its members through various awards such as the Best Research paper, Lifetime Achievement Award,
                    and Scientist Award. </li>
            </ol> -->
            <div class="skill-wrapper">
                
                <div class="skill">
                    <div class="skill-icon">
                        <img src="{% static 'image/jump-bask.png' %}" alt="">
                    </div>
                    <div class="skill-content">
                        <!-- <div class="ball-icon">
                            <img src="{% static 'image/soft_ball.png' %}" alt="">
                        </div> -->
                        <h4>Professional Networking</h4>
                        <h6> Sports Psychology Association of India provides opportunities for
                            members to connect with national and international professionals in sports psychology, through
                            affiliations with organizations like the International Society of Sports Psychology and Asian
                            South-Pacific Association of Sports psychology.</h6>
                    </div>

                </div>
                <div class="skill" style="background: #a382ff;">
                    <div class="skill-icon">
                        <img src="{% static 'image/cricket.png' %}" alt="">
                    </div>
                    <div class="skill-content">
                        <!-- <div class="ball-icon">
                            <img src="{% static 'image/soft_ball.png' %}" alt="">
                        </div> -->
                        <h4>Access to research and resources</h4>
                        <h6>Sports Psychology Association of India offers members
                            access to the latest research in sports psychology, including journals and publications. Members
                            also get the opportunity to publish their own work in SPAI journal, contributing to the academic
                            body of sports psychology knowledge in India.</h6>
                    </div>

                </div>
                
                <div class="skill" style="background: #74c4df">
                    <div class="skill-icon">
                        <img src="{% static 'image/allinone.png' %}" alt="">
                    </div>
                    <div class="skill-content">
                        <div class="ball-icon">
                            <img src="{% static 'image/soft_ball.png' %}" alt="">
                        </div>
                        <h4>Training and educations</h4>
                        <h6>Sports Psychology actively promote sports psychology education in
                            India by supporting the creation of certified sports psychologists. Members can benefit from these
                            initiatives by gaining access to specialized training and certification courses.</h6>
                    </div>

                </div>
                <div class="skill" style="background: #fc93a2">
                    <div class="skill-icon">
                        <img src="{% static 'image/allinone2.png' %}" alt="">
                    </div>
                    <div class="skill-content">
                        <div class="ball-icon">
                            <img src="{% static 'image/soft_ball.png' %}" alt="">
                        </div>
                        <h4>Awards and Recognition</h4>
                        <h6>Sports Psychology Association of India acknowledges the contributions
                            of its members through various awards such as the Best Research paper, Lifetime Achievement Award,
                            and Scientist Award</h6>
                    </div>

                </div>
            </div>
            <p>These privileges position Sports Psychology Association of India to significantly contribute to the
                growth and development of sports psychology in India, while advancing their own careers through
                research, education and networking opportunities. </p>

            <div class="button-1-wrapper">
                    <a style="text-decoration: none;" href="{% url 'user_registration' %}">
                        <div class="button-1">
                            Join as Member
                        </div>
                    </a>
            </div>
        </div>

    </div>

</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}