{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content3.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/manuscript.css' %}">

{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="row-1 animated-list1">
        <h1>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h1>
        <p>David john,Assistant profeser,Kannur University,<br>
            david.john@kannuruniv.com,9890998767
        </p>
        <p>David john,Assistant profeser,Kannur University,<br>
            david.john@kannuruniv.com,9890998767
        </p>
        <p>David john,Assistant profeser,Kannur University,<br>
            david.john@kannuruniv.com,9890998767
        </p>
    </div>
    <div class="row-2">
        <div class="contents animate-z">
            <h2>Research area</h2>
            <div class="content">
                <p>Computer Science</p>
            </div>
            
        </div>
        <div class="contents animate-z">
            <h2>Abstract</h2>
            <div class="content"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, eius praesentium eligendi odio
                assumenda aperiam sunt quis illo veritatis explicabo vitae, suscipit rerum deserunt iste voluptates,
                recusandae asperiores aut eveniet!LoremIt is a long established fact that a reader will be distracted by
                the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has
                a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making
                it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
                as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                (injected humour and the like).Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
                classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
                1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </p></div>
            
        </div>
        <div class="contents animate-z">
            <h2>Keywords</h2>
            <div class="content">
                <p>Barin,placitisy,Neuron,Spike</p>
            </div>
            
        </div>
        <div class="contents animate-z">
            <h2>Message to Editor</h2>
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta fugiat consequuntur dolorum maiores
                    aliquam voluptates quia beatae minus modi? Libero quasi accusantium amet, porro voluptatem nemo velit
                    fugiat magnam labore.</p>
            </div>
           
        </div>
        <div class="contents animate-z">
            <h2>Address for Communication</h2>
            <div class="content">
                <p>Puthedeth House,Chembassey,Kottodikavu <br>
                    Thaliparamba,Kannur,Kerala,India <br>
                    670582</p>
            </div>
            
        </div>

    </div>
    <div class="row-3">
        <p class=" animate-h3">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        <a href="#" class="button-download  animate-z">
            Click Here to Download the file
        </a>
    </div>
    <div class="footer-links" style="margin-top: 30px;">
        <a href="{% url 'about_page' %}?page=about_spai">About SPAI journal</a>
        <a href="{% url 'fee_and_payment' %}" >Fee & payments</a>
        <a href="{% url 'about_page' %}?page=mission">Our mission</a>
        <a href="{% url 'about_page' %}?page=history">History</a>
        <a href="{% url 'publications' %}?page=journal_archives">Publication Archive</a>
        <a href="{% url 'call_for_manuscript' %}">Submit Research Paper</a>
        <a href="{% url 'about_page' %}?page=committee">Committees</a>
        <a href="{% url 'call_for_manuscript' %}">Publication Guidelines</a>
        <a href="{% url 'news' %}?tab=upcoming">Upcoming Events</a>
        <a href="{% url 'news' %}?tab=post">Events Organized</a>
        <a href="{% url 'publications' %}?page=joinaseditor">Join as Editor</a>
        <a href="{% url 'publications' %}?page=joinasreviewer">Join as Reviewer</a>
        <a href="{% url 'publications' %}?page=editorial">Editors & Reviewers</a>
        <a href="{% url 'membership' %}?page=previlege">About Membership Privilege</a>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/history.js' %}"></script>
{% endblock %}