{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content2.css' %}">
<link rel="stylesheet" href="{% static 'css/new/journel.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="journel-nav">
    <div class="cotting">
        <h1>Indian journal of sports Psychology</h1>
        <h1 style="font-size: 36px;"> (ISSN : 2320-2904)</h1>
        <div class="navbar2">
            <ul class="navbar2-menu">
                <li class="navbar2-item"><a href="{% url 'publications' %}?page=about_spai_journal">About SPAI Journal</a></li>
                <li class="navbar2-item"><a href="{% url 'call_for_manuscript' %}">Call for Manuscript</a></li>
                <li class="navbar2-item"><a href="{% url 'publications' %}?page=journal_archives">Journal Archives</a></li>
                <li class="navbar2-item"><a href="{% url 'publications' %}?page=editorial">Editorial Board Members</a></li>
                <li class="navbar2-item">
                    <form action="/search" method="GET" class="navbar2-search-form">
                        <input type="text" name="query" class="navbar2-search" placeholder="Search...">
                        <button type="submit" class="navbar2-search-btn">
                            <img src="{% static 'image/new/search.svg' %}" alt="Search">
                        </button>
                    </form>
                </li>   
            </ul>
        </div>
        
        
        
    </div>
        
    
</div>
<div class="about-container run-repeat">
    <div class="about">
        <h1>INTRODUCTION OF SPAI JOURNAL </h1>
        <div class="about-content">
            <p style="text-indent: 0%;">SPAI has instituted two channels of communication. First, a newsletter to highlight its achievements for
                the information of the members as well as the academic world in the country. After a few issues, limited
                resources did not allow it to be published anymore, at least for the time being. Second, after a
                persistent discussion and debate over years, SPAI launched its own journal named Indian Journal of Sport
                Psychology in January at the XXII National Conference of Sport Psychology in Irinjalakuda, Trissur,
                Kerala in January 2013. </p>
            <p style="text-indent: 0%;">M. L. Kamlesh was persuaded to take up the responsibility of being its editor-in-chief with a five-member
                editorial board. Notwithstanding the initial teething troubles and continued hiccups especially on three
                accounts: (i) financial management, (ii) hesitation of the research scholars to contribute research
                papers for publication, and (iii) status of the journal vis-à-vis other scientific journals published in
                India and abroad, only three issues could be published during 2013-14. Th effort is afoot to revive both
                publications.</p>
        </div>
        <a href="{% static 'docs\Journal front page.pdf' %}" class="explore" target="_blank">
            Explore journal
        </a>
    </div>
    
</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}