{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/members.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="name">
        <div class="num" onclick="window.history.back()">
            <img src="{% static 'image/back.svg' %}" alt="">
        </div>
        <h1>{{paper.title}}</h1>
    </div>

    <div class="details_container">
        <div class="number">
            <div class="num">
                <p>01</p>
            </div>
        </div>
        <div class="labels">
            <p>Title</p>
            <p>Abstract</p>
            <p>Keywords</p>
            <p>Research Area</p>
            <p>Message to the editor</p>
        </div>
        <div class="details">
            <p>{{paper.title}}</p>
            <p>{{paper.abstract}}</p>
            <p>{{paper.keywords}}</p>
            <p>{{paper.research_area}}</p>
            <p>{{paper.editor_message}}</p>
        </div>
    </div>
    {% for author in authors %}
    <div class="details_container">
        <div class="number">
            <div class="num">
                <p class="iter">02.{{ forloop.counter|stringformat:"s" }}{{ forloop.counter|add:"a" }}</p>
            </div>
        </div>
        <div class="labels">
            <p>Name of author</p>
            <p>Designation</p>
            <p>Organization</p>
            <p>Email</p>
            <p>Mobile</p>
        </div>
        <div class="details">
            <p>{{author.name}}</p>
            <p>{{author.designation}}</p>
            <p>{{author.organization}}</p>
            <p>{{author.email}}</p>
            <p>{{author.mobile}}</p>
        </div>
    </div>
    {% endfor %}
    <div class="details_container">
        <div class="number">
            <div class="num">
                <p>03</p>
            </div>
        </div>
        <div class="labels">
            <p>Submit date</p>
            <p>Research file</p>
        </div>
        <div class="details">
            <p>{{paper.date_created}}</p>
            <a href="{{ paper.paper_file.url }}" target="_blank"><p>check</p></a>
        </div>
    </div>
    <div class="details_container">
        <div class="number">
            <div class="num">
                <p>04</p>
            </div>
        </div>
        <div class="labels">
            <p>County</p>
            <p>State</p>
            <p>City</p>
            <p>Postal Code</p>
            <p>Address</p>
        </div>
        <div class="details">
            <p>{{paper.country}}</p>
            <p>{{paper.state}}</p>
            <p>{{paper.city}}</p>
            <p>{{paper.postal_code}}</p>
            <p>{{paper.address}}</p>
        </div>
    </div>
</div>

{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.menu-icon').addEventListener('click', function() {
            document.querySelector('.navbar').classList.toggle('active');
        });
    });
</script>
{% endblock %}

