{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content3.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/manuscript.css' %}">

{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="row-1 animated-list1">
        <h1>{{paper.title}}</h1>
        {% for author in authors %}
        <p>{{author.name}}, {{author.designation}}, {{author.organization}},<br>
            {{author.email}}, Mob: {{author.mobile}}
        </p>
        {% endfor %}
        <p>Date Published : {{paper.date_created}}</p>
    </div>
    <div class="row-2">
        <div class="contents animate-z">
            <h2>Research area</h2>
            <div class="content">
                <p>{{paper.research_area}}</p>
            </div>

        </div>
        <div class="contents animate-z">
            <h2>Abstract</h2>
            <div class="content"><p>{{paper.abstract}}</p></div>

        </div>
        <div class="contents animate-z">
            <h2>Keywords</h2>
            <div class="content">
                <p>{{paper.keywords}}</p>
            </div>

        </div>
        <div class="contents animate-z">
            <h2>Message to Editor</h2>
            <div class="content">
                <p>{{paper.editor_message}}</p>
            </div>

        </div>
        <div class="contents animate-z">
            <h2>Address for Communication</h2>
            <div class="content">
                <p>{{paper.address}}, {{paper.city}} <br>
                    {{paper.state}}, {{paper.country}}, {{paper.postal_code}}
                </p>
            </div>

        </div>

    </div>
    <div class="row-3">
        <p class=" animate-h3">{{paper.title}}</p>
        <a href="{{ paper.paper_file.url }}" class="button-download  animate-z">
            Click Here to Download the file
        </a>
    </div>
    <div class="footer-links" style="margin-top: 30px;">
        <a href="{% url 'about_page' %}?page=about_spai">About SPAI journal</a>
        <a href="{% url 'fee_and_payment' %}" >Fee & payments</a>
        <a href="{% url 'about_page' %}?page=mission">Our mission</a>
        <a href="{% url 'about_page' %}?page=history">History</a>
        <a href="{% url 'publications' %}?page=journal_archives">Publication Archive</a>
        <a href="{% url 'call_for_manuscript' %}">Submit Research Paper</a>
        <a href="{% url 'about_page' %}?page=committee">Committees</a>
        <a href="{% url 'call_for_manuscript' %}">Publication Guidelines</a>
        <a href="{% url 'news' %}?tab=upcoming">Upcoming Events</a>
        <a href="{% url 'news' %}?tab=post">Events Organized</a>
        <a href="{% url 'publications' %}?page=joinaseditor">Join as Editor</a>
        <a href="{% url 'publications' %}?page=joinasreviewer">Join as Reviewer</a>
        <a href="{% url 'publications' %}?page=editorial">Editors & Reviewers</a>
        <a href="{% url 'membership' %}?page=previlege">About Membership Privilege</a>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/history.js' %}"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.menu-icon').addEventListener('click', function() {
            document.querySelector('.navbar').classList.toggle('active');
        });
    });
</script>
{% endblock %}

